@import url('default.css');

header {
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%; /* position: absolute를 주면 요소가 inline-block이 된 것처럼 내부에 콘텐츠가 존재하는 만큼의 넓이를 갖는다. */
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}
header h1 {
    float: left;
    margin: 34px 276px 0 0;
}
header h1 a {
    display: block;
    width: 190px;
    height: 31.5px;
    background: url(../images/logo.svg) no-repeat center center / 100%; /* 로고를 영역에 꽉 차게 하기 위해서 size를 넓이 100% (높이는 비율에 맞게 알아서 - 높이를 안 써주면 알아서 들어감)
    cover는 배경을 영역에 빈틈없이 매꾸는 것이기 때문에 로고가 잘림 */
    font-size: 0;
    line-height: 0;
    /* 접근성 때문에 로고의 대체 텍스트로 쓸 글자 숨기기 */
}
header .gnb {
    float: left;
    margin: 14px 0 0 0;
}
header .gnb button {
    display: none; /* 모바일에서만 표시 - 메뉴 여는 버튼 */
}
header .gnb ul li {
    float: left;
}
header .gnb ul li a {
    display: block;
    padding: 21px 30px;
    font-size: 20px;
}
header .tnb {
    float: right
}
header .tnb ul li {
    float: left;
}
header .tnb ul li button {
    padding: 10px;
}
header .tnb ul li button span {
    display: none; /* 설명 문구 숨김 */
}
header .tnb ul li button i {
    margin: 23px 0 0 0;
    font-size: 34px;
    font-weight: 300;
}

@media screen and (max-width:640px){
    header {
        height: 45px;
        border-bottom: none;
        min-width: auto;
    }
    header h1 {
        margin: 17px 0 0 0;
    }
    header h1 a {
        width: 93px;
        height: 16px;
    }
    header .gnb {
        float: right;
        margin: 13px 0 0 9px;
    }

    /* h1 / gnb / tnb
    코딩 순서가 위와 같을 때 모든 요소에 float: right를 주면 화면에 나타나는 순서는
    tnb / gnb / h1이 된다.
    float: right를 먼저 선언한 요소가 오른쪽 자리를 선점 */

    header .gnb button {
        display: block; /* 모바일에서만 표시 - 메뉴 여는 버튼 */
    }
    header .gnb button span {
        display: none;
    }
    header .gnb button i {
        font-size: 20px;
        font-weight: 300;
    }
    header .gnb ul {
        display: none;
    }
    header .tnb {
        margin: 13px 0 0 0;
    }
    header .tnb ul li.mypage {
        display: none;
    }
    header .tnb ul li button {
        margin: -9px;
    }
    header .tnb ul li button i {
        margin: 0;
        font-size: 18px;
    }
}

.visual {
    height: 900px;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: center;
}
.visual h2 {
    padding: 333px 0 13px 0;
    font-size: 30px;
    font-weight: 700;
}
.visual .txt_pc {
    margin: 0 0 16px 0;
    font-size: 25px;
    line-height: 1.2;
}
.visual .txt_mobile {
    display: none;
}

@media screen and (max-width:640px){
    .visual {
        height: auto;
        padding-bottom: 84px;
    }
    .visual h2 {
        padding: 96px 0 10px 0;
        font-size: 20px;
    }
    .visual h2 span {
        display: block;
    }
    .visual .txt_pc {
        display: none;
    }
    .visual em {
        display: none;
    }
    .visual .txt_mobile {
        display: block;
    }
}

.book {
    margin: 78px 0 96px 0;
}
.book .tit {
    float: left;
}
.book .tit h2 {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
}
.book .tit p {
    margin: 5px 0 14px 0;
}
.book .tit .btn button {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid #666;
}
.book .tit .btn button span {
    display: none;
}
.book .tit .btn button i {
    font-size: 30px;
    font-weight: 300;
    margin: 4px 0 0 0;
}

/* 컨텐츠 영역 밖으로 나가는 리스트 - 스크롤(모바일)
    1. ul을 감싸는 div가 있어야 함
    2. ul을 감싸는 div는 overflow:auto이어야 함 (모바일)
        넓이와 높이를 입력
    3. ul은 li 전체의 넓이를 가져야 함 - 모든 li 한 줄로 좌우에 들어가야 함
        position: absolute (모바일) - 좌우로 슬라이드는 absolute만 됨 */
.book .list {
    margin-left: 330px; /* 왼쪽 요소는 float: left를 줌
                            오른쪽 요소는 margin-left로 왼쪽 요소의 넓이 만큼을 여백으로 준다
                            오른쪽 요소는 block임
                            오른쪽 요소가 왼쪽 요소를 인지하지 못하고 위로 올라옴 */
}
.book .list ul {
    width: 1980px; /* 모든 li가 한 줄로 들어갈 수 있는 넓이 */
}
.book .list ul li {
    float: left;
    width: 290px;
    margin: 0 40px 0 0;
}
.book .list ul li a {
    display: block;
}
.book .list ul li a .subject {
    display: block;
    margin: 10px 0 9px 0;
    font-weight: 700;
    white-space: nowrap; /* 무조건 1줄로 표시 */
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a .subject em {
    font-size: 13px;
}
.book .list ul li a .writer {
    display: block;
    margin-bottom: 22px;
    color: #666;
}
.book .list ul li a .content {
    display: block;
    /* 여러 줄 */
    line-height: 1.5;
    height: 4.5em;
    overflow: hidden;
}

@media screen and (max-width:640px){
    .book {
        margin: 38px 0 67px 0;
    }
    .book .tit {
        float: none;
    }
    .book .tit h2 {
        float: left;
        font-size: 30px;
    }
    .book .tit p {
        display: none;
    }
    .book .tit .btn {
        float: right;
    }
    .book .tit .btn button {
        width: 27px;
        height: 27px;
        margin: 9px 0 0 0;
        margin-right: 2px;
    }
    .book .tit .btn button i {
        margin: 4px 0 0 0;
        font-size: 17px;
    }
    .book .list {
        overflow-y: hidden; /* 가로 스크롤바가 생성되면, 가로 스크롤만큼 높이가 줄어서
                                세로 스크롤바가 생성되기도 함, 그것을 방지 */
        overflow-x: scroll;
        width: calc(100% + 20px); /* calc는 넓이나 높이의 수치를 계산할 때 사용
                                    대부분 %와 px를 혼용할 때 사용
                                    list에 100%를 주면 wrapper가 좌우에 여백 20px을 준 안쪽으로 넓이가 생성된다.
                                    그런데 오른쪽만 콘텐츠 영역 밖으로 더 나가고자 하면 calc(100% + 20px) */
        padding: 15px 0 0 0;
        margin-left: 0;
    }
    .book .list ul {
        width: 966px; /* 모든 li가 한 줄로 들어갈 수 있는 넓이 */
    }
    .book .list ul li {
        width: 141px;
        margin: 0 20px 0 0;
    }
    .book .list ul li a img {
        width: 100%;
    }
    .book .list ul li a .subject {
        margin: 7px 0 5px 0;
        white-space: normal;
        line-height: 1.5;
    }
    .book .list ul li a .subject em {
        font-size: 11px;
    }
    .book .list ul li a .writer {
        display: block;
        margin-bottom: 22px;
        color: #666;
    }
    .book .list ul li a .content {
        display: none;
    }
}

.interview h2 {
    color: #1d1d1d;
    margin: 0 0 39px 0;
    font-size: 40px;
    font-weight: 700;
}
.interview .colgroup {
    position: relative; /* pic 정렬의 기준점 */
}
.interview .pic {
    position: absolute;
    left: 0;
    top: 46px;
}
.interview .cnt {
    height: 392px;
    margin: 0 0 0 70px;
    background-color: #3D311C;
    color: #fff;
}
.interview .cnt .inner {
    padding: 46px 22px 0 540px;
}
.interview .cnt h3 {
    margin: 0 0 25px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
}
.interview .cnt p {
    margin: 0 0 47px 0;
}
.interview .cnt a {
    display: block;
    width: 163px;
    height: 40px;
    padding: 0 5px 0 11px;
    line-height: 40px; /* 버튼 디자인에서 글자를 높이의 위 아래 가운데 배치하기 위해서는 제일 쉬운 방법인 행간을 높이값과 동일하게 주는 것이다. */
    white-space: nowrap;
    border: 1px solid #fff;
}
.interview .cnt a span {
    float: left;
}
.interview .cnt a i {
    float: right;
    margin: 7px 0 0 0;
    font-weight: 300;
}

@media screen and (max-width:640px){
    .interview h2 {
        margin: 38px 0 28px 0;
        font-size: 30px;
    }
    .interview .pic {
        position: relative;
        left: auto;
        top: auto;
    }
    .interview .pic::after {
        position: absolute;
        left: -20px;
        bottom: 0;
        width: calc(100% + 40px);
        height: 75%;
        background-color: #3D311C;
        content: "";
    }
    .interview .pic img {
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .interview .cnt {
        width: calc(100% + 40px);
        height: auto;
        margin: 0 0 0 -20px;
        background-color: #3D311C;
        color: #fff;
    }
    .interview .cnt .inner {
        padding: 0 20px;
        height: 199px;
    }
    .interview .cnt .inner .era {
        display: none;
    }
    .interview .cnt h3 {
        padding: 20px 0 0 0;
        margin: 0 0 20px 0;
        font-size: 20px;
    }
    .interview .cnt p {
        margin: 0 0 25px 0;
    }
    .interview .cnt a {
        width: 112px;
        height: 27px;
        padding: 0 4px 31px 8px;
        line-height: 27px;
    }
    .interview .cnt a span {
        float: left;
    }
    .interview .cnt a i {
        float: right;
        margin: 2px 0 0 0;
        font-weight: 300;
    }
}