@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR);
body,section,p,div,ul,li{ /* body,section 등의 모든 태그의 모든 여백 삭제 */
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none; /* ul 태그 앞에 동그라미 삭제 */
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #3d3d3d;
}
.wrapper{
    width: 1280px;
    margin: 0 auto;
}
.visual{
    background-image: url(../images/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 1080px;
    padding: 445px 0 0 0;
    box-sizing: border-box; /* width/height와 padding을 동시에 선언해도 사이즈가 늘어나지 않음 */
}
.visual p{
    color: #FFFFFF;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 37px 0;
}
.visual a{
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 20px; /* 높이의 절반 */
    padding: 6px 23px;
    display: inline-block; /* 인라인 요소 a태그에 padding/border을 적용하기 위해서 준 값 */
}
.intro{
    text-align: center; /* 자손 요소를 가운데 정렬 - 나 자신 X */
    margin: 73px 0 100px 0;
}
.intro strong{
    font-weight: 700;
}
.intro p{
    color: #3d3d3d;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    margin: 21px 0 37px 0;
}
.intro p span{
    color: #999999;
}
.intro a{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #3d3d3d;
    border-radius: 20px; /* 높이의 절반 */
    padding: 6px 23px;
    display: inline-block; /* 인라인 요소 a태그에 padding/border을 적용하기 위해서 준 값 */
}
.service{
    background-color: #F4F4F4;
    padding: 161px 0 203px 0;
}
.service strong{
    font-weight: 700;
}
.service p{
    color: #3d3d3d;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    margin: 21px 0 37px 0;
}
.service p span{
    color: #999999;
}
.service a{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #3d3d3d;
    border-radius: 20px; /* 높이의 절반 */
    padding: 6px 23px;
    display: inline-block; /* 인라인 요소 a태그에 padding/border을 적용하기 위해서 준 값 */
}
.it{
    background-image: url(../images/IT_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 1080px;
    padding: 396px 0 0 0;
    box-sizing: border-box;
}
.it strong{
    font-weight: 700;
    color: #FFFFFF;
}
.it p{
    color: #FFFFFF;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    margin: 21px 0 37px 0;
}
.it a{
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 20px; /* 높이의 절반 */
    padding: 6px 23px;
    display: inline-block; /* 인라인 요소 a태그에 padding/border을 적용하기 위해서 준 값 */
}
.bbs{
    margin: 232px 0 120px 0;
}
.bbs p{
    color: #3d3d3d;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 79px 0;
}
.bbs p span{
    color: #999999;
}
.bbs ul{
    display: flex;
}
.bbs ul li{
    width: 290px;
    margin: 0 40px 0 0;
}
.bbs ul li.last{ /* li라는 태그 중에서 last라는 class 명을 갖는 li */
    margin: 0;
}
.bbs ul li a{
    color: #3d3d3d;
    text-decoration: none;
    display: block;
}
.bbs ul li a img{
    border: 1px solid #999999;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
}
.bbs ul li a strong{
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    margin: 11px 0 14px 0;
}
.bbs ul li a span{
    display: block;
    color: #666666;
}
.bbs .more{
    text-align: center;
    margin: 95px 0 0 0;
}
.bbs .more a{
    color: #3d3d3d;
    text-decoration: none;
    border: 1px solid #3d3d3d;
    border-radius: 20px; /* 높이의 절반 */
    padding: 6px 23px;
    display: inline-block; /* 인라인 요소 a태그에 padding/border을 적용하기 위해서 준 값 */
}
.banner{
    margin: 0 0 100px 0;
}
.banner ul{
    display: flex;
}
.banner ul li{
    width: 620px;
    height: 161px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 39px 28px 32px;
    box-sizing: border-box;
}
.banner ul li.partner{ /* li 태그 중에서 partner라는 class 명을 갖는 li */
    background-color: #04C75B;
    margin: 0 40px 0 0;
}
.banner ul li.career{
    background-color: #08B4EB;
}
.banner ul li .tit strong{
    color: #FFFFFF;
    font-weight: 700;
}
.banner ul li .tit p{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.45;
    margin: 22px 0 0 0;
}
.banner ul li a{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #3d3d3d;
    border-radius: 20px; /* 높이의 절반 */
    padding: 6px 23px;
    display: inline-block;
}