/* 모든 페이지에 공통으로 들어가는 스타일 (header/footer) */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    /* 폰트 적용 우선순위
       을유 웹폰트 우선적용, - 만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
       apple sd gothic - 아이폰에서 지원하는 폰트 */
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어 별 줄 바꿈 */
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 1400px;
    /* 브라우저에 가로스크롤이 생성되었을때 배경이 잘리지 않기 위해 최소 넓이를 줌 */
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 1400px;
    margin: 0 auto;
}
@media screen and (max-width:640px){
    /* 640px 이하의 디바이스에서만 아래 css가 적용
      pc에서는 1280px이라는 콘텐츠 고정 넓이가 존재했지만
      모바일에서는 디바이스 넓이에 맞춰서 꽉 차게 구현
      구현 방식이 달라서 고정값을 모두 삭제 */
    html, body {
        font-size: 13px;
    }
    #wrap {
        min-width: 320px;
    }
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 가진 position: relative가 있는 요소는 cnt_wrap이라고 class를 줌 */
.cnt_wrap {
    position: relative;
}

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #004B9E;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus {
    top: 0;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 300;
    /* header와 서브 메뉴(lnb)와 footer에서 풀다운 메뉴가 중복될 때 header가 맨 위에 올라가려고 제일 높은 숫자
    header - 300
    lnb - 200
    footer - 100 */
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #fff;
}
.header .logo {
    float: left;
    margin: 33px 0 0 30px;
}
.header .logo a {
    display: block;
    width: 171px;
    height: 38px;
    background-image: url(../images/common/logo_w.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 0;
    line-height: 0;
}

@media screen and (min-width:641px){
    /* 브라우저 사이즈 641 이상에서만 적용하는 스타일 */
    .header .gnb {
        float: right;
        margin: 0 30px 0 0;
    }
    .header .gnb .gnb_open {
        display: none;
    }
    .header .gnb .gnb_close {
        display: none;
    }
    .header .gnb>ul>li {
        float: left;
        width: 220px;
    }
    .header .gnb>ul>li>a {
        display: block;
        font-size: 22px;
        line-height: 100px;
        text-align: center;
    }
    .header .gnb>ul>li {
        position: relative;
    }
    .header .gnb>ul>li>ul {
        display: none;
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 453px;
        padding: 33px 0 0 0;
        border-left: 1px solid #ededed;
    }
    .header .gnb>ul>li>ul>li>a {
        display: block;
        padding: 0 0 0 27px;
        font-size: 17px;
        line-height: 40px;
    }
    /* 오버 스타일 */
    .header .gnb>ul>li:hover>a {
        color: #163787;
        font-weight: 700;
    }
    .header .gnb>ul>li:hover>ul {
        background-color: #163787;
        color: #fff;
    }
    .header .gnb>ul>li>ul>li>a:hover {
        color: #5BCEF2;
        font-weight: 700;
    }
}
/* gnb의 pc 스타일 */

/* header가 고정됐을 때 & 메뉴가 열렸을 때 */
.header.fixed {
    position: fixed; /* 무조건 body와만 정렬 - 넓이 100% - 1400px 이하에서 window의 넓이만큼만 인식해서 메뉴 깨짐 */
    min-width: 1400px; /* 최소 넓이 */
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.header.fixed, .header.memu_open {
    color: #3D3D3D;
}
.header.fixed .logo a, .header.memu_open .logo a {
    background-image: url(../images/common/logo.svg);
}
.header.memu_open::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /* position 속성이 있는 요소와 없는 요소가 나란히 존재하면 무조건 position 있는 요소가 위로 올라 감. 이 때 position이 있는 요소를 일반 요소 아래로 내리는 방법 z-index: -1; */
    width: 100%;
    height: 553px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    content: "";
}
.header.memu_open::after {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 1px;
    border-color: #ededed;
    content: "";
}
.header.memu_open .gnb>ul>li>ul {
    display: block;
}

@media screen and (max-width:640px){
    .header {
        height: 60px;
        border-bottom: none;
    }
    .header .logo {
        margin: 20px 0 0 20px;
    }
    .header .logo a {
        width: 105px;
        height: 23px;
    }
    .header .gnb {
        float: right;
        overflow-y: auto; /* 모바일 메뉴가 길어지면 메뉴가 스크롤 되도록 하는 값 */
    }
    .header .gnb button {
        padding: 0 21px;
        height: 60px;
    }
    .header .gnb button span {
        display: none;
    }
    .header .gnb button i {
        font-size: 20px;
    }
    .header .gnb>ul {
        display: none;
        margin: 60px 20px 40px 20px;
    }
    .header .gnb>ul>li {
        border-top: 1px solid #ccc;
    }
    .header .gnb>ul>li>ul {
        display: none;
        padding: 22px 0;
        background-color: #163787;
        color: #fff;
    }
    .header .gnb>ul>li>ul>li>a {
        display: block;
        padding: 0 0 0 30px;
        font-size: 15px;
        line-height: 40px;
    }
    .header .gnb>ul>li>a {
        display: block;
        position: relative;
        margin: 0 0 0 9px;
        font-size: 20px;
        line-height: 50px;
    }
    .header .gnb>ul>li>a::after {
        position: absolute;
        right: 1px;
        top: 19px;
        color: #3D3D3D;
        font-size: 13px;
        font-family: "Font Awesome 6 Free";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
        font-weight: 900;
        content: "\f078";
    }
    .header .gnb .gnb_close {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
    }
    /* 서브 메뉴가 열렸을 때 */
    .header .gnb>ul>li.sub_open>a {
        color: #163787;
        font-weight: 700;
    }
    .header .gnb>ul>li.sub_open>a::after {
        content: "\f077";
    }
    .header .gnb>ul>li.sub_open>ul {
        display: block;
    }
    /* 메뉴가 열렸을 때 */
    .header.menu_mobile .gnb {
        position: fixed; /* fixed는 body와만 정렬  */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #3D3D3D;
    }
    .header.menu_mobile .gnb .gnb_open {
        display: none;
    }
    .header.menu_mobile .gnb>ul {
        display: block;
    }
    .header.menu_mobile .gnb .gnb_close {
        display: block;
    }
    .header.fixed {
        min-width: 320px;
    }
    .header.fixed, .header.memu_open {
        color: #1d1d1d;
    }
    .header.fixed .gnb .gnb_open i {
        color: #004485;
    }
}

/* common.css 모든 페이지에서 호출 - .top이라고 스타일을 주면
   다른 콘텐츠에서 top이라는 class를 주면 해당 스타일이 적용됨
   절대 콘텐츠 페이지에서 사용하지 않을 이르으로 줘야 함. */
aside.top {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 178px;
    z-index: 250;
}
aside.top button {
    width: 38px;
    height: 37px;
    background-color: #163787;
    border-radius: 6px;
    color: #fff;
}
aside.top button span {
    display: none;
}
aside.top button i {
    font-size: 20px;
    margin-top: 2px;
}
@media screen and (max-width:640px){
    aside.top {
        right: 20px;
        bottom: 225px;
        z-index: 250;
    }
    aside.top button {
        width: 31px;
        height: 30px;
    }
    aside.top button i {
        font-size: 13px;
        margin-top: 4px;
    }
}

.footer {
    background-color: #242D36;
    color: #ccc;
}
.footer .sns {
    position: absolute;
    right: 0;
    top: 50px;
}
.footer .sns ul li {
    float: left;
    width: 42px;
}
.footer .sns ul li a {
    display: block;
    height: 42px;
    /* img를 a 영역의 위아래/좌우 가운데에 배치하기 위해서 */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .flogo {
    float: left;
    margin: 47px 84px 0 0;
}
.footer .flogo img {
    width: 100px;
}
.footer .inner {
    float: left;
    margin: 50px 0 0 0;
}
.footer .fnav li {
    position: relative;
    float: left;
    margin: 0 36px 0 0;
}
.footer .fnav li::after {
    position: absolute;
    right: -20px;
    top: 6px;
    width: 1px;
    height: 9px;
    background-color: #666;
    content: "";
}
.footer .fnav li:last-child::after {
    display: none;
}
.footer .fnav li.privacy {
    font-weight: 700;
}
.footer .finfo {
    margin: 39px 0 8px 0;
}
.footer .finfo span {
    display: inline-block;
    /* 전화번호나 팩스처럼 짧은 span 태그로 묶인 요소들이 display: inline-block;을 주면
       모바일에서 전화번호, 팩스가 2줄로 분리되어 나타나지 않음 */
    margin: 0 45px 0 0;
}
.footer .copyright {
    margin: 0 0 107px 0;
    color: #999;
}
@media screen and (max-width:640px){
    .footer .sns {
        position: relative;
        right: auto;
        top: auto;
        height: 64px;
        /* ul을 가운데 정렬 */    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .sns::after {
        position: absolute;
        left: -20px;
        bottom: 0;
        width: calc(100% + 40px);
        height: 1px;
        background-color: rgba(255,255,255,0.2);
        content: "";
    }
    .footer .sns ul li {
        float: left;
        width: 42px;
    }
    .footer .sns ul li:first-child {
        margin-top: 1px;
        margin-right: 5px;
    }
    .footer .sns ul li:nth-child(2) {
        margin-right: 3px;
    }
    .footer .sns ul li a {
        display: block;
        height: 42px;
        /* img를 a 영역의 위아래/좌우 가운데에 배치하기 위해서 */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .flogo {
        float: none;
        margin: 28px 0 26px 0;
    }
    .footer .flogo img {
        width: 96px;
    }
    .footer .inner {
        float: none;
        margin: 0;
    }
    .footer .fnav li {
        margin: 0 30px 4px 0;
    }
    .footer .fnav li::after {
        right: -17px;
        top: 5px;
        height: 7px;
    }
    .footer .finfo {
        margin: 23px 0 14px 0;
    }
    .footer .finfo span {
        display: inline-block;
        /* 전화번호나 팩스처럼 짧은 span 태그로 묶인 요소들이 display: inline-block;을 주면
           모바일에서 전화번호, 팩스가 2줄로 분리되어 나타나지 않음 */
        margin: 0 33px 0 0;
    }
    .footer .copyright {
        margin: 0 0 34px 0;
        color: #999;
    }
}