/* 모든 페이지에 공통으로 들어가는 스타일 (header/footer) */
html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: 'Red Hat Display', "Noto Sans KR", "NanumGothic", "Malgun Gothic", "Apple SD Gothic", "Apple SD Gothic Neo", "Dotum", sans-serif;
    /* 폰트 적용 우선순위
       을유 웹폰트 우선적용, - 만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
       apple sd gothic - 아이폰에서 지원하는 폰트 */
    font-size: 16px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어 별 줄 바꿈 */
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 350px;
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
    /* 1400px 이하부터 320px까지 모든 사이즈 반응형
       1400px일 때에도 좌우에 여백은 유지해야 함 (1400px 이상에서 1400px 이하로 변경되는 점 - 반응형으로 전환)
       부드럽게 여백을 유지하면서 전환
       원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
       1400px이 콘텐츠 영역인데 왼쪽 20px + 오른쪽  20px = 1440px이 넓이
       padding으로 좌우에 여백을 20px씩 줌 */
}
@media screen and (max-width:1000px){
    html, body {
    font-size: 14px;
    }
}
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
}/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 가진 position: relative가 있는 요소는 cnt_wrap이라고 class를 줌 */
.cnt_wrap {
    position: relative;
}

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #004B9E;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus {
    top: 0;
}


.fp-warning, .fp-watermark {
    display: none;
}


.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    width: 100%;
    height: 100px;
    color: #fff;
}
.header.fixed {
    background-color: #fff;
    color: #1d1d1d;
}
.header .logo {
    float: left;
    margin: 28px 0 0 28px;
}
.header .logo a {
    display: block;
    width: 194px;
    height: 44px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    font-size: 0;
    line-height: 0;
}
.header.fixed .logo a {
    background-image: url(../images/common/logo.svg);
}
.header .gnb {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.header .gnb .menu li {
    float: left;
    margin: 0 28px;
}
.header .gnb .menu li a {
    display: block;
    line-height: 100px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}
.header .search {
    float: right;
    margin: 31px 42px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 1px solid rgba(255,255,255,0.7);
    content: "";
    z-index: 500;
}
.header.fixed .search {
    border-bottom: 1px solid #ccc;
}
.header .search label {
    display: none;
}
.header .search input[type="text"] {
    position: relative;
    width: 150px;
    height: 36px;
    float: left;
    font-size: 18px;
    background-color: transparent;
    border: 0;
    outline: 0;
}
.header .search input[type="text"]::placeholder {
    color: rgba(255,255,255,0.4);
}
.header.fixed .search input[type="text"] {
    background-color: transparent;
}
.header .search input[type="text"]::placeholder {
    color: #ccc;
}
.header .search .btn {
    float: right;
    width: 36px;
    height: 36px;
}
.header .search input.btn {
    border: 0;
    background-color: transparent;
    background-image: url(../images/common/search_ico.svg);
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 0;
    cursor: pointer;
}
.header.fixed .search input.btn {
    background-image: url(../images/common/search_ico_b.svg);
}
.header .m_menu {
    display: none;
}

@media screen and (max-width:1440px){
    .header .logo a {
        width: 180px;
    }
    .header .gnb .menu li {
        float: left;
        margin: 0 25px;
    }
    .header .gnb .menu li a {
        display: block;
        line-height: 100px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }
    .header .search {
        float: right;
        margin: 31px 42px 0 0;
        position: absolute;
        right: 0;
        top: 0;
        border-bottom: 1px solid rgba(255,255,255,0.7);
        content: "";
        z-index: 500;
    }
    .header .search input[type="text"] {
        position: relative;
        width: 145px;
        height: 36px;
        float: left;
        font-size: 17px;
        background-color: transparent;
        border: 0;
        outline: 0;
    }
    .header .search .btn {
        float: right;
        width: 34px;
        height: 34px;
    }
    .header .search input.btn {
        border: 0;
        background-size: 50%;
        background-color: transparent;
        background-image: url(../images/common/search_ico.svg);
        background-position: center center;
        background-repeat: no-repeat;
        font-size: 0;
        cursor: pointer;
    }
}
@media screen and (max-width:1200px){
    .header .logo a {
        width: 170px;
    }
    .header .gnb .menu li {
        margin: 0 22px;
    }
    .header .gnb .menu li a {
        font-size: 18px;
    }
    .header .search {
        margin: 31px 42px 0 0;
    }
    .header .search input[type="text"] {
        width: 110px;
        height: 36px;
        font-size: 15px;
    }
    .header .search .btn {
        width: 32px;
        height: 32px;
    }
    .header .search input.btn {
        background-size: 40%;
    }
}
@media screen and (max-width:1000px){
    .header .logo a {
        width: 160px;
    }
    .header .gnb .menu li {
        margin: 0 20px;
    }
    .header .gnb .menu li a {
        font-size: 16px;
    }
    .header .search {
        margin: 31px 42px 0 0;
    }
    .header .search input[type="text"] {
        width: 75px;
        height: 30px;
        font-size: 13px;
    }
    .header .search .btn {
        width: 30px;
        height: 30px;
    }
    .header .search input.btn {
        background-size: 30%;
    }
}
@media screen and (max-width:860px){
    .header {
        height: 90px;
    }
    .header .logo {
        margin: 25px 0 0 30px;
    }
    .header .logo a {
        width: 150px;
    }
    .header .gnb .menu li {
        margin: 0 12px;
    }
    .header .gnb .menu li a {
        font-size: 14px;
        line-height: 90px;
    }
    .header .search {
        margin: 25px 30px 0 0;
    }
    .header .search input[type="text"] {
        width: 90px;
        height: 36px;
        font-size: 13px;
    }
    .header .search .btn {
        width: 28px;
        height: 28px;
    }
    .header .search input.btn {
        margin: 5px 0 0 0;
        background-size: 40%;
    }
}
@media screen and (max-width:640px){
    .header {
        height: 60px;
    }
    .header .logo {
        float: left;
        margin: 10px 0 0 20px;
    }
    .header .logo img {
        width: 112px;
        height: 25px;
    }
    .header .gnb {
        position: relative;
        left: auto;
        top: auto;
        transform: translateX(0);
        float: right;
    }
    .header .gnb .menu {
        display: none;
    }
    .header .search {
        float: right;
        margin: 10px 51px 0 0;
        position: absolute;
        right: 0;
        top: 0;
        border-bottom: none;
        content: "";
        z-index: 500;
    }
    .header .search input[type="text"] {
        display: none;
    }
    .header .search .btn {
        float: none;
        width: 30px;
        height: 30px;
    }
    .header .search input.btn {
        border: 0;
        background-color: transparent;
        background-image: url(../images/common/search_ico.svg);
        background-position: center center;
        background-repeat: no-repeat;
        font-size: 0;
        cursor: pointer;
    }
    .header .m_menu {
        margin: 5px 0 0 0;
        position: absolute;
        right: 13px;
        top: 13px;
        display: block;
        float: right;
        width: 30px;
        height: 30px;
    }
    .header .m_menu span {
        display: none;
    }
    .header.fixed .search {
        border-bottom: none;
    }
}


aside.top {
    position: fixed;
    right: 29px;
    bottom: 40px;
    z-index: 300;
}
aside.top a {
    display: block;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #EE730B;
    color: #fff;
}
aside.top a span {
    display: none;
}
aside.top a i {
    margin: 10px 0 0 9px;
}
@media screen and (max-width:1000px){
    aside.top {
        right: 29px;
        bottom: 40px;
    }
    aside.top a {
        width: 40px;
        height: 40px;
    }
    aside.top a i {
        font-size: 25px;
        margin: 8px 0 0 8px;
    }
}
@media screen and (max-width:860px){
    aside.top {
        right: 29px;
        bottom: 40px;
    }
    aside.top a {
        width: 35px;
        height: 35px;
    }
    aside.top a i {
        font-size: 20px;
        margin: 8px 0 0 7px;
    }
}
@media screen and (max-width:640px){
    aside.top {
        display: none;
    }
}



.footer {
    background-color: #1d1d1d;
    color: rgba(255,255,255,0.7);
}
.footer .ftop {
    width: 100%;
    float: left;
}
.footer .fbottom {
    padding: 0 0 0 260px;
    margin: 60px 0 56px 0;
    width: 100%;
    float: left;
}
.footer .fnav {
    position: relative;
    margin: 59px 0 0 0;
}
.footer .fnav::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: #666;
    content: "";
}
.footer .fnav i {
    display: none;
}
.footer .fnav ul li a {
    margin: 0 120px 61px 0;
    display: block;
}
.footer .fnav ul li:first-child {
    margin-left: 260px;
}
.footer .fnav .main_f > li {
    float: left;
    font-size: 19px;
}
.footer .fnav .sub_f li {
    font-size: 17px;
    line-height: 45px;
}
.footer .fnav .sub_f li:first-child {
    margin: 41px 0 0 0;
}
.footer .flogo {
    display: inline-block;
    margin: 0 0 46px 0;
}
.footer .right {
    float: right;
    margin: 0 260px 0 0;
}
.footer .right .f_sns {
    margin: 0 0 43px 0;
}
.footer .f_sns ul {
    display: flex;
    align-items: center;
}
.footer .f_sns ul li {
    margin: 0 14px;
    float: left;
}
.footer .f_sns ul li:last-child {
    margin-right: 0;
}
.footer .f_sns ul li a img {
    width: 100%;
    height: 100%;
}
.footer .family {
    float: right;
}
.footer .family .site {
    display: flex;
}
.footer .family .site span {
    margin: 0 15px 0 0;
}
.footer .finfo {
    margin: 0 0 14px 0;
}
.footer .finfo ul li {
    margin: 0 30px 0 0;
    float: left;
}
.footer .finfo ul li a {
    display: block;
}
.footer .finfo ul li:last-child {
    margin-right: 0;
    font-weight: 700;
}
.footer .address {
    margin: 0 0 3px 0;
}

@media screen and (max-width:1440px){
    .footer .fbottom {
        padding: 0 0 0 260px;
        margin: 60px 0 56px 0;
    }
    .footer .fnav {
        position: relative;
        margin: 59px 0 0 0;
    }
    .footer .fnav::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border: 1px solid #666;
        content: "";
    }
    .footer .fnav ul li a {
        margin: 0 100px 61px 0;
        display: block;
    }
    .footer .fnav ul li:first-child {
        margin-left: 260px;
    }
    .footer .fnav .main_f > li {
        font-size: 18px;
    }
    .footer .fnav .sub_f li {
        font-size: 16px;
        line-height: 45px;
    }
    .footer .fnav .sub_f li:first-child {
        margin: 41px 0 0 0;
    }
    .footer .flogo {
        display: inline-block;
        margin: 0 0 46px 0;
    }
    .footer .right {
        float: right;
        margin: 0 260px 0 0;
    }
    .footer .right .f_sns {
        margin: 0 0 43px 0;
    }
    .footer .f_sns ul li {
        margin: 0 14px;
        float: left;
    }
    .footer .f_sns ul li:last-child {
        margin-right: 0;
    }
    .footer .family {
        font-size: 15px;
        float: right;
    }
    .footer .family .site span {
        margin: 0 15px 0 0;
    }
    .footer .finfo {
        font-size: 15px;
        margin: 0 0 14px 0;
    }
    .footer .finfo ul li {
        margin: 0 30px 0 0;
        float: left;
    }
    .footer .address {
        font-size: 15px;
        margin: 0 0 3px 0;
    }
}
@media screen and (max-width:1200px){
    .footer .fbottom {
        padding: 0 0 0 140px;
        margin: 60px 0 56px 0;
    }
    .footer .fnav {
        position: relative;
        margin: 59px 0 0 0;
    }
    .footer .fnav::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border: 1px solid #666;
        content: "";
    }
    .footer .fnav i {
        display: none;
    }
    .footer .fnav ul li a {
        margin: 0 90px 61px 0;
        display: block;
    }
    .footer .fnav ul li:first-child {
        margin-left: 140px;
    }
    .footer .fnav .main_f > li {
        float: left;
        font-size: 17px;
    }
    .footer .fnav .sub_f li {
        font-size: 15px;
        line-height: 45px;
    }
    .footer .fnav .sub_f li:first-child {
        margin: 41px 0 0 0;
    }
    .footer .flogo {
        display: inline-block;
        margin: 0 0 46px 0;
    }
    .footer .right {
        float: right;
        margin: 0 260px 0 0;
    }
    .footer .right .f_sns {
        margin: 0 0 43px 0;
    }
    .footer .f_sns ul li {
        margin: 0 14px;
        float: left;
    }
    .footer .f_sns ul li:last-child {
        margin-right: 0;
    }
    .footer .family {
        font-size: 15px;
        float: right;
    }
    .footer .family .site {
        display: flex;
    }
    .footer .family .site span {
        margin: 0 15px 0 0;
    }
    .footer .finfo {
        font-size: 15px;
        margin: 0 0 14px 0;
    }
    .footer .finfo ul li {
        margin: 0 30px 0 0;
        float: left;
    }
}
@media screen and (max-width:1000px){
    .footer .fbottom {
        padding: 0 0 0 60px;
        margin: 60px 0 56px 0;
    }
    .footer .fnav {
        position: relative;
        margin: 59px 0 0 0;
    }
    .footer .fnav::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border: 1px solid #666;
        content: "";
    }
    .footer .fnav i {
        display: none;
    }
    .footer .fnav ul li a {
        margin: 0 90px 61px 0;
        display: block;
    }
    .footer .fnav ul li:first-child {
        margin-left: 60px;
    }
    .footer .fnav .main_f > li {
        float: left;
        font-size: 17px;
    }
    .footer .fnav .sub_f li {
        font-size: 15px;
        line-height: 45px;
    }
    .footer .fnav .sub_f li:first-child {
        margin: 41px 0 0 0;
    }
    .footer .flogo {
        display: inline-block;
        margin: 0 0 46px 0;
    }
    .footer .right {
        float: right;
        margin: 0 260px 0 0;
    }
    .footer .right .f_sns {
        margin: 0 0 43px 0;
    }
    .footer .f_sns ul li {
        margin: 0 14px;
        float: left;
    }
    .footer .family {
        font-size: 15px;
        float: right;
    }
    .footer .family .site span {
        margin: 0 15px 0 0;
    }
    .footer .finfo {
        font-size: 15px;
        margin: 0 0 14px 0;
    }
    .footer .finfo ul li {
        margin: 0 30px 0 0;
        float: left;
    }
}
@media screen and (max-width:860px){
    .footer {
        padding: 53px 0 32px 0;
    }
    .footer .ftop {
        margin: 0 0 0 20px;
        width: auto;
        float: none;
    }
    .footer .fbottom {
        padding: 0;
        margin: 0 0 0 20px;
        width: auto;
        float: none;
    }
    .footer .fnav {
        position: relative;
        margin: 0;
    }
    .footer .fnav::after {
        display: none;
    }
    .footer .fnav i {
        margin: 0 30px 0 0;
        float: right;
        display: block;
        width: 15px;
    }
    .footer .fnav ul li {
        margin: 0 0 27px 0;
    }
    .footer .fnav ul li:first-child {
        margin-left: 0;
    }
    .footer .fnav ul li:last-child {
        margin-bottom: 0;
    }
    .footer .fnav ul li a {
        margin: 0;
        display: block;
    }
    .footer .fnav .main_f > li {
        position: relative;
        float: none;
        font-size: 15px;
    }
    .footer .fnav .main_f > li::after {
        position: absolute;
        left: 0;
        bottom: -11px;
        width: calc(100% - 20px);
        height: 0.5px;
        background-color: rgba(255,255,255,0.7);
        content: "";
    }
    .footer .fnav .sub_f li {
        display: none;
    }
    .footer .flogo {
        display: none;
    }
    .footer .right {
        float: none;
        margin: 0;
    }
    .footer .right .f_sns {
        margin: 40px 0 24px 0;
    }
    .footer .f_sns ul li {
        margin: 0 14px;
        float: left;
    }
    .footer .f_sns ul li:first-child {
        margin-left: 0;
    }
    .footer .f_sns ul li a img {
        width: 75%;
    }
    .footer .family {
        float: none;
    }
    .footer .family .site {
        display: flex;
        align-items: center;
    }
    .footer .family .site span {
        margin: 0 10px 0 0;
        font-size: 13px;
    }
    .footer .family .site i {
        font-size: 15px;
    }
    .footer .finfo {
        margin: 41px 0 14px 0;
        font-size: 13px;
    }
    .footer .finfo ul li {
        margin: 0 30px 0 0;
        float: left;
    }
    .footer .finfo ul li a {
        display: block;
    }
    .footer .finfo ul li:last-child {
        margin-right: 0;
        font-weight: 700;
    }
    .footer .address {
        margin: 0 0 3px 0;
        font-size: 13px;
    }
}