@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR);
body,section,p,div,ul,li,h1,h2,h3,h4,h5,h6,nav,button,header,footer { /* body,section 등의 모든 태그의 모든 여백 삭제 */
    padding: 0;
    margin: 0;
}
ul,li {
    list-style: none; /* ul 태그 앞에 동그라미 삭제 */
}
em,address {
    font-style: normal; /* em 태그가 기본적으로 글자가 기울어져 있음. 그것을 해결함 */
}
button {
    background-color: transparent; /* 배경 투명 */
    color: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    cursor: pointer; /* 마우스를 오버하면 손바닥 모양으로 변경 */
}
.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}
body {
    min-width: 1280px; /* wrapper에서 준 넓이를 body에 최소 넓이로 줌 - 가로 스크롤을 해도 배경이 정상적으로 나오게 처리 */
    color: #3d3d3d;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.05em;
}
a {
    color: inherit; /* 브라우저가 정의하는 파란색은 적용하지 않고, 부모 요소가 정의한 색상을 따르겠다는 뜻 */
    text-decoration: none;
}
.wrapper {
    width: 1280px;
    margin: 0 auto;
}

header { /* header 영역은 대부분 높이를 입력함 */
    height: 100px;
}
header h1 {
    float: left;
    margin: 23px 0 0 0;
}
header nav {
    float: right;
    margin: 19px 0 0 0;
}
header nav ul li {
    float: left;
}
header nav ul li a {
    display: block; /* a가 인라인 요소라서 padding을 적용하기 위해서 */
    padding: 18px;
    color: #1d1d1d;
    font-size: 20px;
}

.visual {
    background-image: url(../images/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 750px;
}
.visual h2 {
    display: none; /* 해당 태그를 사용하지 않은 것처럼 숨김 */
}
.visual strong {
    display: inline-block; /* strong이 인라인 태그라서 margin이 적용 안 됨, block 요소로 변경 */
    padding: 260px 0 6px 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}
.visual p {
    color: #FFFFFF;
    line-height: 1.1;
    font-size: 45px;
}
.visual p em {
    font-weight: 700;
}

.promotion .art {
    margin: 165px 0 107px 0;
}
.promotion .art img {
    float: left;
}
.promotion .art .inner {
    float: left;
    margin: 65px 0 0 65px;
}
.promotion .lee {
    margin: 0 0 179px 0;
}
/* 두 요소에 float: right;를 주면 코딩 순서의 역순으로 요소들이 오른쪽에 정렬 */
.promotion .lee img {
    float: right;
}
.promotion .lee .inner {
    float: right;
    margin: 65px 65px 0 0;
}
.promotion h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
}
.promotion p {
    margin: 11px 0 43px 0;
}
.promotion p strong {
    display: block;
    margin: 0 0 7px 0;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
}
.promotion a {
    display: inline-block;
    float: left;
    padding: 9px 20px;
    margin: 0 5px 0 0;
    border: 1px solid #3d3d3d;
}
.bbs {
    background-image: url(../images/bbs_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
}
.bbs .notice { /* notice 영역 글자는 대부분 흰색 - 내부 요소에 스타일을 상속 */
    color: #FFFFFF;
}
.bbs .notice .tit {
    float: left;
    margin: 120px 0 0 0;
}
.bbs .notice .tit h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 6px 0 0 0;
}
.bbs .notice .tit a {
    display: inline-block;
    padding: 9px 20px;
    border: 1px solid #FFFFFF;
}
.bbs .notice .tit p {
    margin: 3px 0 25px 0;
}
.bbs .notice ul {
    float: right;
    width: 725px;
    margin: 132px 50px 0 0;
}
.bbs .notice ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.bbs .notice ul li.first {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.bbs .notice ul li a{
    padding: 16px 10px 17px 10px;
}
.bbs .notice ul li a strong {
    float: left;
    font-size: 20px;
    font-weight: 400;
}
.bbs .notice ul li a span {
    float: right;
    margin: 5px 0 0 0;
    color: rgba(255, 255, 255, 0.8);
}
.bbs .movie {
    margin: 175px 0 0 0;
}
.bbs .movie h2 {
    color: #FFFFFF;
    margin: 0 0 20px 0;
    font-size: 50px;
    font-weight: 700;
}
.bbs .movie ul li {
    float: left;
    width: 400px;
    margin: 0 40px 0 0;
}
.bbs .movie ul li.last {
    margin: 0;
}
.bbs .movie ul li a {
    display: block;
}
.bbs .movie ul li a span {
    display: block;
}
.bbs .movie ul li a strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
}

footer {
    overflow: hidden; /* footer 하단에 생성된 의도하지 않은 여백 삭제를 위해 */
    margin: 80px 0 0 0;
    background-color: #0A0A0A;
    color: rgba(255, 255, 255, 0.8);
}
footer .inner {
    float: left;
    margin: 60px 0 70px 0;
}
footer .fnav li {
    float: left;
}
footer .fnav li a {
    display: block;
    padding: 0 11px;
}
footer .fnav li.privacy a { /* li중에서 privacy라는 class명을 가진 li의 내부에 있는 a */
    padding-left: 0;
    font-weight: 700;
}
footer .info {
    margin: 24px 0 0 4px;
}
footer .info address {
    display: inline;
}
footer .info span {
    display: inline-block;
    margin: 0 0 0 22px;
}
footer button { /* button 태그에 넓이와 높이를 주면 글자가 상하좌우 중앙에 정렬됨 */
    float: right;
    width: 200px;
    height: 40px;
    padding: 0 4px 0 12px;
    margin: 64px 0 0 0;
    border: 1px solid rgba(255, 255, 255, 0.8);
}
footer button strong {
    float: left;
    font-weight: 400;
}
footer button span {
    float: right;
}