@charset "UTF-8";
/* 기본 글자 색상 */
/* 제목에 들어가는 글자 색상 */
/* 기본 회색 */
/* 밝은 회색 */
/* 어두운 배경에 기본 흰 글씨 */
/* 어두운 배경에 제목 흰 글씨 */
/* scss에서 mixin은 특정 스타일의 속성명과 속성값을 모두 선언하는 방식 (여러 개)
   변수는 특정 속성값 단 한 개를 저장하는 방식 (변수 1개에 한 개의 속성값)
   --> 변수의 값은 어느 속성에 사용하든 상관 없음 */
/* 모든 태그의 스타일 초기화 */
/* 모든 태그에 브라우저에서 주는 여백을 삭제 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap");
body, header, footer, div, nav, section, h1, h2, h3, h4, h5, h6, button, a, ul, ol, li, address, strong, span, em, p, i, dl, dt, dd, form, fieldset, legend, input, textarea, select, table, caption, colgroup, col, thead, tbody, tfoot, tr, th, td {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* width/height와 padding결합되면 사이즈가 늘어남. 이걸 막는 스타일
     padding을 줘도 width/height가 유지가 됨 */
}

/* a태그에 브라우저가 주는 기본 속성 초기화 */
a {
  color: inherit;
  text-decoration: none;
}

/* 브라우저에서 기울임을 주는 것을 초기화 */
em, address {
  font-style: normal;
}

/* 항목 앞에 동그라미 삭제 */
ul, ol, li {
  list-style: none;
}

/* form 태그가 문자 스타일을 상속받지 않아서 상속받게 하기 */
form, input, select, textarea, button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  /* 서체 상속 - button은 body에서 적용한 서체를 
     자동으로 상속 받지 않음 - form관련 태그는 다 그럼 */
}

fieldset {
  border: 0;
}

legend {
  display: none; /* form 태그의 legend은 타이틀로 숨김 처리 */
}

button {
  background-color: transparent; /* 투명 */
  border: 0;
  cursor: pointer; /* 마우스 오버 시 손바닥 모양 */
}

table caption {
  display: none;
}

h1, h2, h3, h4, h5, h6, strong, th {
  font-weight: 400;
}

/* 모든 페이지에 공통으로 들어가는 스타일 (header/footer) */
/* 본명조 */
html, body {
  color: #3d3d3d;
  line-height: 1.5;
  font-family: "Pretendard", "Noto Sans KR", "NanumGothic", "Malgun Gothic", "Apple SD Gothic", "Apple SD Gothic Neo", "Dotum", sans-serif;
  /* 폰트 적용 우선순위
     을유 웹폰트 우선적용, - 만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
     apple sd gothic - 아이폰에서 지원하는 폰트 */
  font-size: 16px;
  font-weight: 400;
  /* letter-spacing: -0.05em; */
  word-break: keep-all; /* 단어 별 줄 바꿈 */
}

#wrap { /* id="wrap" */
  overflow: hidden;
  position: relative;
  min-width: 320px;
}

/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  /* 1400px 이하부터 320px까지 모든 사이즈 반응형
     1400px일 때에도 좌우에 여백은 유지해야 함 (1400px 이상에서 1400px 이하로 변경되는 점 - 반응형으로 전환)
     부드럽게 여백을 유지하면서 전환
     원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
     1400px이 콘텐츠 영역인데 왼쪽 20px + 오른쪽  20px = 1440px이 넓이
     padding으로 좌우에 여백을 20px씩 줌 */
}

@media screen and (max-width: 1000px) {
  html, body {
    font-size: 14px;
  }
}
@media screen and (max-width: 640px) {
  html, body {
    font-size: 13px;
  }
} /* media 종료 */
.clearfix::after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0;
}

.clearfix {
  display: block;
}

/* wrapper와 동일한 사이즈를 가진 position: relative가 있는 요소는 cnt_wrap이라고 class를 줌 */
.cnt_wrap {
  position: relative;
}

.skip_nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100000;
  width: 100%;
}

.skip_nav a {
  position: absolute;
  left: 0;
  top: -1000px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #004B9E;
  color: #000;
  text-align: center;
}

.skip_nav a:focus {
  top: 0;
}

/* 브라우저에서 글자를 드래그했을 때 드래그한 영역의 색과 글자색
   -moz-selection 표준화 되지 않은 속성 */
::-moz-selection {
  background: #cba585;
  color: #000;
}
::selection {
  background: #cba585;
  color: #000;
}

::-moz-selection {
  background: #cba585;
  color: #000;
}

::-webkit-selection {
  background: #cba585;
  color: #000;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100px;
  transition: 0.3s;
}
.header .logo {
  float: left;
  margin: 27px 0 0 40px;
}
.header .gnb {
  float: right;
  margin: 0 40px 0 0;
}
.header .gnb .gnb_open {
  display: none;
}
.header .gnb .gnb_wrap ul li {
  float: left;
}
.header .gnb .gnb_wrap ul li a {
  display: block;
  padding: 0 20px;
  color: #fff;
  font-size: 20px;
  line-height: 100px;
}
.header.fixed { /* header.fixed */
  position: fixed;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1440px) {
  .header .logo {
    margin: 27px 0 0 40px;
  }
  .header .logo a img {
    width: 120px;
  }
  .header .gnb .gnb_wrap ul li a {
    padding: 0 13px;
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  .header .logo {
    margin: 30px 0 0 40px;
  }
  .header .logo a img {
    width: 100px;
  }
  .header .gnb .gnb_wrap ul li a {
    padding: 0 12px 10px 12px;
    font-size: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    height: 70px;
  }
  .header .logo {
    margin: 17px 0 0 20px;
  }
  .header .logo a img {
    width: 97px;
  }
  .header .gnb {
    margin: 0;
  }
  .header .gnb .gnb_open {
    display: block;
    position: relative;
    z-index: 2;
    width: 62px;
    height: 62px;
  }
  .header .gnb .gnb_open strong {
    display: none;
  }
  .header .gnb .gnb_open span {
    position: absolute;
    right: 20px;
    width: 22px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: 0.3s;
  }
  .header .gnb .gnb_open span.line1 {
    top: 27px;
  }
  .header .gnb .gnb_open span.line2 {
    top: 34px;
    width: 17px;
  }
  .header .gnb .gnb_open span.line3 {
    top: 41px;
  }
  .header .gnb .gnb_wrap {
    display: block;
    position: absolute;
    right: -100%;
    top: 0;
    z-index: 1;
    width: 100%;
    max-width: 375px;
    height: 100vh;
    background-color: #fff;
    color: #1d1d1d;
    transition: 0.5s;
  }
  .header .gnb .gnb_wrap ul {
    margin: 70px 0 0 0;
  }
  .header .gnb .gnb_wrap ul li {
    float: none;
  }
  .header .gnb .gnb_wrap ul li a {
    font-family: "Noto Serif KR", serif;
    display: block;
    padding: 0;
    color: #1d1d1d;
    font-size: 18px;
    line-height: 58px;
    text-align: center;
  }
  .header .gnb::after {
    /* 화면에 꽉 차는 배경은 position: fixed;
       left, right, top, bottom 모두 0을 주면
       left: 0; top: 0; width: 100% height: 100%와 동일

    <div class="gnb">
        <button class="gnb_open"></button>
        <div class="gnb_wrap"></div>
        ::after -- gnb::after
    </div>
    gnb_open과 gnb_wrap, gnb::after의 순서를 조정할 수 있음

    <button class="gnb_open"></button>
    <div class="gnb_wrap">
        ::after -- gnb_wrap::after
    </div>
    gnb_wrap::after는 gnb_wrap 안에 존재하기 때문에 그 밖에 있는
    gnb_open, */
    opacity: 0;
    transition: 0.5s;
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
  }
  .header .gnb.mobile_open .gnb_open span {
    position: absolute;
    right: 20px;
    width: 22px;
    height: 3px;
    background-color: #1d1d1d;
  }
  .header .gnb.mobile_open .gnb_open span.line1 {
    top: 34px;
    transform: rotate(-45deg);
  }
  .header .gnb.mobile_open .gnb_open span.line2 {
    right: -22px;
  }
  .header .gnb.mobile_open .gnb_open span.line3 {
    top: 34px;
    transform: rotate(45deg);
  }
  .header .gnb.mobile_open .gnb_wrap {
    right: 0;
  }
  .header .gnb.mobile_open::after {
    opacity: 1;
  }
}
.footer {
  display: block;
  padding: 42px 0 77px 0;
  background-color: #392F25;
  color: rgba(255, 255, 255, 0.8);
}
.footer::after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0;
}
.footer .sns {
  float: right;
}
.footer .sns ul li {
  float: left;
}
.footer .sns ul li a {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 0;
  line-height: 0;
}
.footer .sns ul li a::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-image: url(/webdesign/bntailor/images/common/footer_ico.svg);
  background-repeat: no-repeat;
  content: "";
}
.footer .sns ul li.instagram a::before {
  background-position: left top;
}
.footer .sns ul li.facebook a::before {
  background-position: left -40px top;
}
.footer .sns ul li.naver a::before {
  background-position: left -80px top;
}
.footer .inner {
  float: left;
}
.footer .inner .finfo span {
  margin: 0 32px 0 0;
}
.footer .inner .finfo span.address {
  display: block;
  margin: 5px 0 0 0;
}
.footer .inner .copyright {
  margin: 27px 0 0 0;
}

@media screen and (max-width: 640px) {
  .footer {
    padding: 12px 0 52px 0;
  }
  .footer .sns {
    float: none;
  }
  .footer .sns ul {
    position: relative;
    margin: 0 0 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .sns ul li a {
    width: 50px;
    height: 50px;
  }
  .footer .sns ul li a::before {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-image: url(/webdesign/bntailor/images/common/footer_ico.svg);
    background-repeat: no-repeat;
    content: "";
  }
  .footer .sns ul li.instagram a::before {
    background-position: left 5% top 50%;
  }
  .footer .sns ul li.facebook a::before {
    background-position: left 50% top 50%;
  }
  .footer .sns ul li.naver a::before {
    background-position: left 95% top 50%;
  }
  .footer .inner {
    float: none;
    margin: 17px 0 0 0;
  }
  .footer .inner .finfo span {
    margin: 0 25px 0 0;
  }
  .footer .inner .finfo span.biz {
    display: block;
  }
  .footer .inner .finfo span.address {
    display: block;
    margin: 8px 0;
  }
  .footer .inner .copyright {
    margin: 10px 0 0 0;
  }
}
/* 서브 레이아웃 */
.container svg path {
  fill: #C9A484;
}