@import url(default.css);

header { /*body를 기준으로 정렬*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100; /*z-index 숫자가 높은 요소가 위에 배치
    하단에 다른 요소가 z-index를 가질 수 있기 때문에
    header를 무조건 상단에 두기 위해 안전하게 100
    즉, content 영역에 요소는 z-index를 줘도 100 미만의 값을 줘야 함*/
    width: 100%; /*absolute를 주면 해당 요소는 inline 태그처럼 작동된다.
    width가 내부 요소가 존재하는 만큼 들어감*/
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
header h1 {
    float: left;
    margin: 31px 192px 0 0;
    font-size: 0;
    line-height: 0;
    /*로고가 글자 없이 이미지만 존재함
    그래도 글자 크기와 행간 때문에 여백이 발생함
    이 여백을 없애고 img가 존재하는 만큼만 적용*/
}
header h1 a {
    display: block;
}
header .gnb {
    float: left;
    margin: 6px 0 0 1px;
}
header .gnb button {
    display: none; /*모바일 열기 버튼*/
}
header .gnb ul li {
    float: left;
}
header .gnb ul li a {
    display: block;
    padding: 31px;
    color: #fff;
    font-size: 20px;
}
header .tnb {
    float: right;
    margin:  36px 0 0 0;
}
header .tnb button {
    margin: 0 0 0 17px;
}
header .tnb button i {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}
header .tnb button span {
    display: none;
}
header.fixed { /*header가 고정됐을 때 jquery가 class를 추가*/
    position: fixed;
    background-color: #fff;
}
header.fixed .gnb ul li a {
    color: #1d1d1d;
}
header.fixed .tnb button i {
    color: #1d1d1d;
}

@media screen and (max-width:640px){
    header {
        height: 45px;
    }
    header h1 {
        margin: 15px 0 0 0;
    }
    header h1 a img {
        width: 34px; /*모바일에서는 로고 사이즈가 변경됨*/
    }
    header .gnb {
        float: right;
        margin: 13px 0 0 1px;
    }
    header .gnb button {
        display: block; /*모바일 열기 버튼*/
    }
    header .gnb button i {
        color: #fff;
        font-size: 17px;
        font-weight: 300;
    }
    header .gnb button span {
        display: none;
    }
    header .gnb ul {
        display: none; /*모바일에서는 메뉴가 안 나옴*/
    }
    header .tnb {
    display: none;
    }
    header.fixed .gnb button i {
        color: #1d1d1d;
    }
}

.visual {
    position: relative;
    height: 850px;
    background-image: url(../images/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff
}
.visual::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    content: "";
}
.visual .inner { /*before 검은 색보다 글자를 위에 배치하기 위해서*/
    position: relative;
    z-index: 1;
}
.visual h2 {
    padding: 328px 0 15px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
}
.visual h2 span {
    display: block; /*pc에서만 줄바꿈*/
}

@media screen and (max-width:640px){
    .visual {
        height: auto;
    }
    .visual h2 {
        padding: 285px 0 119px 0;
        font-size: 22px;
        line-height: 1.1;
        text-align: center;
    }
    .visual h2 span {
        display: inline; /*pc에서만 줄바꿈*/
    }
    .visual p {
        display: none; /*모바일에서 안 보임*/
    }
}


.biz .rowgroup1 {
    margin: 120px 0 65px 0;
}
.biz .rowgroup2 {
    margin: 0 0 65px 0;
}
.biz .rowgroup3 {
    margin: 0 0 65px 0;
}
.biz .fleft img {
    float: left;
}
.biz .fleft .inner {
    float: right;
    margin: 0 40px 0 0;
}
.biz .fright img {
    float: right;
}
.biz .fright .inner {
    float: left;
    margin: 0 0 0 40px;
}
.biz .inner {
    width: 510px;
}
.biz h2 {
    margin: 50px 0 3px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
}
.biz strong {
    display: block;
    margin: 0 0 13px 0;
    font-size: 20px;
    font-weight: 400;
}
.biz .link {
    margin: 49px 0 0 0;
}
.biz .link ul li {
    float: left;
    width: 131px;
    margin: 0 13px 13px 0;
    border-bottom: 1px solid #666;
}
.biz .link ul li a {
    display: block;
    position: relative;
    line-height: 24px;
    white-space: nowrap;
}
.biz .link ul li a::after {
    position: absolute;
    right: -3px;
    top: 3px;
    color: #3d3d3d;
    font-family: 'Material Symbols Outlined';
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    content: "\e941";
}

@media screen and (max-width:640px){
    .biz .rowgroup1 {
        margin: 44px 0 40px 0;
    }
    .biz .rowgroup2 {
        margin: 0 0 40px 0;
    }
    .biz .rowgroup3 {
        margin: 0 0 45px 0;
    }
    .biz .fleft img {
        float: none;
    }
    .biz .fleft .inner {
        float: none;
        margin: 0;
    }
    .biz .fright img {
        float: none;
    }
    .biz .fright .inner {
        float: none;
        margin: 0;
    }
    .biz .inner {
        width: auto;
    }
    .biz img { /*img 태그는 넓이나 높이 하나만 주면 비율에 맞게 줄어듦*/
        width: 100%;
    }
    .biz h2 {
        margin: 25px 0 7px 0;
        font-size: 25px;
        line-height: 1.2;
    }
    .biz strong {
        margin: 0 0 10px 0;
        font-size: 15px;
    }
    .biz .link {
        margin: 20px 0 0 0;
    }
    .biz .link ul li {
        width: auto;
        margin: 0 10px 0 0;
    }
    .biz .link ul li a {
        padding: 0 20px 0 0;
    }
    .biz .link ul li a::after {
        top: 5px;
        font-size: 15px;
    }

    /*
    link의 ul li를 좌우로 배치하고 슬라이드 되도록 하기 위함
    1. ul은 모든 li의 넓이의 합을 강제로 가지고 있어야 함
    2. ul은 position: absolute이어야 함
    3. ul을 감싸고 있는 요소는 좌우 스크롤을 허용해야 함
    4. ul을 감싸고 있는 요소는 높이를 줘야 함 (내부 컨텐츠만큼)
    */
    .biz .link {
        position: relative;
        overflow: auto;
        width: calc(100% + 20px); /*% 단위와 px 단위를 동시에 계산해야 할 때 사용*/
        height: 38px;
    }
    .biz .link ul {
        position: absolute;
        left: 0;
        top: 0;
    }

    .biz .rowgroup1 .link ul {
        width: 500px;
    }
    .biz .rowgroup2 .link ul {
        width: 340px;
    }
    .biz .rowgroup3 .link ul {
        width: 350px;
    }
}
.purpose {
    position: relative;
    height: 409px;
    margin: 119px 0 0 0;
    background: url(../images/purpose_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: center;
}
.purpose::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    content: "";
}
.purpose .inner {
    position: relative;
    z-index: 1;
}
.purpose h2 {
    padding: 115px 0 47px 0;
    font-size: 40px;
    line-height: 1;
}
.purpose h2 strong {
    position: relative;
}
.purpose h2 strong::before {
    left: -90px;
    top: -10px;
    background: url(../images/prop_quot_left.png) no-repeat center center;
    content: "";
}
.purpose h2 strong::after {
    right: -85px;
    bottom: -10px;
    background: url(../images/prop_quot_right.png) no-repeat center center;
    content: "";
}
.purpose h2 strong::before, .purpose h2 strong::after {
    position: absolute;
    width: 66px;
    height: 56px;
    font-size: 150px;
    font-weight: 700;
}

@media screen and (max-width:640px){
    .purpose {
        height: auto;
        padding: 0 0 83px 0;
        margin: 45px 0 0 0;
    }
    .purpose h2 {
        padding: 74px 0 43px 0;
        font-size: 20px;
        line-height: 1.25;
    }
    .purpose h2 strong::before {
        left: -50%;
        top: -45px;
        background-size: 23px auto; /*넓이를 23px, 높이는 비율에 맞게 알아서*/
    }
    .purpose h2 strong::after {
        right: 50%;
        bottom: -42px;
        background-size: 23px auto;
    }
    .purpose h2 span {
        display: block; /*줄바꿈*/
    }
}