@import url(default.css);

header { /* body를 기준으로 정렬 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100; /* z-index 숫자가 높은 요소가 위에 배치
    하단에 다른 요소가 z-index를 가질 수 있기 때문에
    header를 무조건 상단에 두기 위해 안전하게 100
    즉, content 영역에 요소는 z-index를 줘도 100 미만의 값을 줘야 함 */
    width: 100%; /* absolute를 주면 해당 요소는 inline 태그처럼 작동된다.
    width가 내부 요소가 존재하는 만큼 들어감 */
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
header h1 {
    float: left;
    margin: 31px 192px 0 0;
    font-size: 0;
    line-height: 0;
    /* 로고가 글자 없이 이미지만 존재함
    그래도 글자 크기와 행간 때문에 여백이 발생함
    이 여백을 없애고 img가 존재하는 만큼만 적용 */
}
header h1 a {
    display: block;
    width: 74px;
    height: 32px;
    background: url(../images/logo_w.svg) no-repeat center center / 100%;
}
header .gnb {
    float: left;
    margin: 6px 0 0 1px;
}
header .gnb button {
    display: none; /* 모바일 열기 버튼 */
}
header .gnb ul li {
    float: left;
}
header .gnb ul li a {
    display: block;
    padding: 31px;
    color: #fff;
    font-size: 20px;
}
header .tnb {
    float: right;
    margin:  36px 0 0 0;
}
header .tnb button {
    margin: 0 0 0 17px;
}
header .tnb button i {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}
header .tnb button span {
    display: none;
}
header.fixed { /* header가 고정됐을 때 jquery가 class를 추가 */
    position: fixed;
    background-color: #fff;
}
header.fixed h1 a {
    background-image: url(../images/logo.svg);
}
header.fixed .gnb ul li a {
    color: #1d1d1d;
}
header.fixed .tnb button i {
    color: #1d1d1d;
}

@media screen and (max-width:640px){
    header {
        height: 45px;
    }
    header h1 {
        margin: 15px 0 0 0;
    }
    header h1 a {
        width: 34px;
        height: 15px;
    }
    header .gnb {
        float: right;
        margin: 13px 0 0 1px;
    }
    header .gnb button {
        display: block; /* 모바일 열기 버튼 */
    }
    header .gnb button i {
        color: #fff;
        font-size: 17px;
        font-weight: 300;
    }
    header .gnb button span {
        display: none;
    }
    header .gnb ul {
        display: none; /* 모바일에서는 메뉴가 안 나옴 */
    }
    header .tnb {
    display: none;
    }
    header.fixed .gnb button i {
        color: #1d1d1d;
    }
}

.visual {
    position: relative;
    height: 850px;
    background-image: url(../images/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff
}
.visual::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    content: "";
}
.visual .inner { /* before 검은 색보다 글자를 위에 배치하기 위해서 */
    position: relative;
    z-index: 1;
}
.visual h2 {
    padding: 328px 0 15px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
}
.visual h2 span {
    display: block; /* pc에서만 줄바꿈 */
}

@media screen and (max-width:640px){
    .visual {
        height: auto;
    }
    .visual h2 {
        padding: 285px 0 119px 0;
        font-size: 22px;
        line-height: 1.1;
        text-align: center;
    }
    .visual h2 span {
        display: inline; /* pc에서만 줄바꿈 */
    }
    .visual p {
        display: none; /* 모바일에서 안 보임 */
    }
}


.biz .rowgroup1 {
    margin: 120px 0 65px 0;
}
.biz .rowgroup2 {
    margin: 0 0 65px 0;
}
.biz .rowgroup3 {
    margin: 0 0 65px 0;
}
.biz .fleft img {
    float: left;
}
.biz .fleft .inner {
    float: right;
    margin: 0 40px 0 0;
}
.biz .fright img {
    float: right;
}
.biz .fright .inner {
    float: left;
    margin: 0 0 0 40px;
}
.biz .inner {
    width: 510px;
}
.biz h2 {
    margin: 50px 0 3px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
}
.biz strong {
    display: block;
    margin: 0 0 13px 0;
    font-size: 20px;
    font-weight: 400;
}
.biz .link {
    margin: 49px 0 0 0;
}
.biz .link ul li {
    float: left;
    width: 131px;
    margin: 0 13px 13px 0;
    border-bottom: 1px solid #666;
}
.biz .link ul li a {
    display: block;
    position: relative;
    line-height: 24px;
    white-space: nowrap;
}
.biz .link ul li a::after {
    position: absolute;
    right: -3px;
    top: 3px;
    color: #3d3d3d;
    font-family: 'Material Symbols Outlined';
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    content: "\e941";
}

@media screen and (max-width:640px){
    .biz .rowgroup1 {
        margin: 44px 0 40px 0;
    }
    .biz .rowgroup2 {
        margin: 0 0 40px 0;
    }
    .biz .rowgroup3 {
        margin: 0 0 45px 0;
    }
    .biz .fleft img {
        float: none;
    }
    .biz .fleft .inner {
        float: none;
        margin: 0;
    }
    .biz .fright img {
        float: none;
    }
    .biz .fright .inner {
        float: none;
        margin: 0;
    }
    .biz .inner {
        width: auto;
    }
    .biz img { /* img 태그는 넓이나 높이 하나만 주면 비율에 맞게 줄어듦 */
        width: 100%;
    }
    .biz h2 {
        margin: 25px 0 7px 0;
        font-size: 25px;
        line-height: 1.2;
    }
    .biz strong {
        margin: 0 0 10px 0;
        font-size: 15px;
    }
    .biz .link {
        margin: 20px 0 0 0;
    }
    .biz .link ul li {
        width: auto;
        margin: 0 10px 0 0;
    }
    .biz .link ul li a {
        padding: 0 20px 0 0;
    }
    .biz .link ul li a::after {
        top: 5px;
        font-size: 15px;
    }

    /*
    link의 ul li를 좌우로 배치하고 슬라이드 되도록 하기 위함
    1. ul은 모든 li의 넓이의 합을 강제로 가지고 있어야 함
    2. ul은 position: absolute이어야 함
    3. ul을 감싸고 있는 요소는 좌우 스크롤을 허용해야 함
    4. ul을 감싸고 있는 요소는 높이를 줘야 함 (내부 컨텐츠만큼)
    */
    .biz .link {
        position: relative;
        overflow: auto;
        width: calc(100% + 20px); /* % 단위와 px 단위를 동시에 계산해야 할 때 사용 */
        height: 38px;
    }
    .biz .link ul {
        position: absolute;
        left: 0;
        top: 0;
    }

    .biz .rowgroup1 .link ul {
        width: 500px;
    }
    .biz .rowgroup2 .link ul {
        width: 340px;
    }
    .biz .rowgroup3 .link ul {
        width: 350px;
    }
}
.purpose {
    position: relative;
    height: 409px;
    margin: 119px 0 0 0;
    background: url(../images/purpose_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: center;
}
.purpose::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    content: "";
}
.purpose .inner {
    position: relative;
    z-index: 1;
}
.purpose h2 {
    padding: 115px 0 47px 0;
    font-size: 40px;
    line-height: 1;
}
.purpose h2 strong {
    position: relative;
}
.purpose h2 strong::before {
    left: -90px;
    top: -10px;
    background: url(../images/prop_quot_left.png) no-repeat center center;
    content: "";
}
.purpose h2 strong::after {
    right: -85px;
    bottom: -10px;
    background: url(../images/prop_quot_right.png) no-repeat center center;
    content: "";
}
.purpose h2 strong::before, .purpose h2 strong::after {
    position: absolute;
    width: 66px;
    height: 56px;
    font-size: 150px;
    font-weight: 700;
}

@media screen and (max-width:640px){
    .purpose {
        height: auto;
        padding: 0 0 83px 0;
        margin: 45px 0 0 0;
    }
    .purpose h2 {
        padding: 74px 0 43px 0;
        font-size: 20px;
        line-height: 1.25;
    }
    .purpose h2 strong::before {
        left: -50%;
        top: -45px;
        background-size: 23px auto; /* 넓이를 23px, 높이는 비율에 맞게 알아서 */
    }
    .purpose h2 strong::after {
        right: 50%;
        bottom: -42px;
        background-size: 23px auto;
    }
    .purpose h2 span {
        display: block; /* 줄바꿈 */
    }
}

.news {
    margin: 98px 0 132px 0;
}
.news h2 {
    display: none; /* 웹표준 상 section은 반드시 heading태그를 포함해야 하기 때문에 h2를 주고 숨김 처리함 */
}
.news ul li {
    overflow: hidden;
    float: left;
    width: 290px;
    margin: 0 40px 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.news ul li:last-child {
    margin-right: 0;
}
.news ul li a {
    display: block;
}
.news ul li a img {
    width: 100%;
}
.news ul li a .cate {
    display: block;
    margin: 23px 0 10px 20px;
}
.news ul li a .tit {
    display: block;
    margin: 0 0 0 20px;
    font-size: 20px;
    font-weight: 700;
    /* 2줄 고정 */
    height: 3em; /* 행간*줄수 - 단위: em */
    overflow: hidden;
}
.news ul li a .date {
    display: block;
    margin: 30px 0 27px 20px;
    color: #666;
}

@media screen and (max-width:640px){
    .news {
        margin: 39px 0 49px 0;
    }
    .news ul li {
        display: none;
        float: none;
        width: 100%;
        margin: 0;
    }
    .news ul li:first-child {
        display: block; /* 한 개의 li만 나오도록 하기 위해서 모든 li를 숨기고 첫번째 li만 남도록 */
    }
    .news ul li a .cate {
        margin: 12px 0 5px 20px;
    }
    .news ul li a .tit {
        margin: 0 0 24px 20px;
        font-size: 15px;
        /* 2줄 고정 */
        height: auto; /* 행간*줄수 - 단위: em */
        overflow: visible;
    }
    .news ul li a .date {
        margin: 0 0 16px 20px;
    }
}

footer {
    padding: 24px 0 49px 0;
    border-top: 1px solid #ededed;
    color: #666;
}
footer .family {
    float: right;
}
footer .family button {
    width: 193px;
    height: 41px;
    padding: 0 10px;
    border: 1px solid rgba(102, 102, 102, 0.6);
    /* button 태그는 높이를 주면 글자가 위 아래 가운데 세로 정렬을 함
    a였다면 padding이나 line-height로 세로 정렬값을 별도로 줘야 함 */
}
footer .family button span {
    float: left;
}
footer .family button i {
    float: right;
}
footer .inner {
    float: left;
}
footer .fnav li {
    float: left;
    position: relative;
}
footer .fnav li::after {
    position: absolute;
    right: -1px;
    top: 6px;
    width: 1px;
    height: 11px;
    background-color: #ccc;
    content: "";
}
footer .fnav li:last-child::after {
    display: none; /*li중에 마지막 li의 after를 숨김 */
}
footer .fnav li.privacy {
    font-weight: 700;
}
footer .fnav li a {
    display: block;
    padding: 0 12px 28px 12px;
}
footer .fnav li:first-child a {
    padding-left: 0;
}
footer .finfo {
    margin: 46px 0 3px 0;
}

@media screen and (max-width:640px){
    footer {
        padding: 12px 0 30px 0;
    }
    footer .family {
        float: none;
    }
    footer .family button {
        width: 136px;
        height: 37px;
        padding: 0 10px;
    }
    footer .inner {
        float: none;
    }
    footer .fnav {
        margin: 18px 0 0 0;
    }
    footer .fnav li::after {
        top: 7px;
        height: 6px;
    }
    footer .finfo {
        margin: 0 0 3px 0;
    }
}