@font-face {
    font-family: 'MyLotteBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/MyLotteBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
/* 모든 페이지에 공통으로 들어가는 스타일 (header/footer) */
html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: "MyLotte", "Pretendard", "Noto Sans KR", "NanumGothic", "Malgun Gothic", "Apple SD Gothic", "Apple SD Gothic Neo", "Dotum", sans-serif;
    /* 폰트 적용 우선순위
       을유 웹폰트 우선적용, - 만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
       apple sd gothic - 아이폰에서 지원하는 폰트 */
    font-size: 16px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어 별 줄 바꿈 */
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 350px;
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /* 1400px 이하부터 320px까지 모든 사이즈 반응형
       1400px일 때에도 좌우에 여백은 유지해야 함 (1400px 이상에서 1400px 이하로 변경되는 점 - 반응형으로 전환)
       부드럽게 여백을 유지하면서 전환
       원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
       1400px이 콘텐츠 영역인데 왼쪽 20px + 오른쪽  20px = 1440px이 넓이
       padding으로 좌우에 여백을 20px씩 줌 */
}
@media screen and (max-width:1000px){
    html, body {
    font-size: 14px;
    }
}
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
}/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 가진 position: relative가 있는 요소는 cnt_wrap이라고 class를 줌 */
.cnt_wrap {
    position: relative;
}

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #004B9E;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus {
    top: 0;
}







.header {
    position: relative;
  }
  .header .top {
    height: 100px;
  }
  
  .header .logo {
    position: absolute;
    left: 50%;
    top: 28px;
    transform: translateX(-50%);
  }
  .header .language {
    float: right;
    margin-top: 36px;
  }
  .header .language ul li.app {
    position: relative;
    margin: 2px 15px 0 0;
    color: #666;
  }
  .header .language ul li.app::after {
    position: absolute;
    top: 5px;
    right: -18px;
    width: 1px;
    height: 15px;
    background-color: #ccc;
    content: "";
  }
  .header .language ul li {
    float: left;
    margin: 0 23px;
  }
  .header .language ul li img {
    width: 30px;
    height: 30px;
  }
  .header .menu {
    height: 70px;
  }
  .header .menu .gnb_open {
    display: none;
  }
  .header .menu ul {
    display: flex;
    justify-content: center;
  }
  .header .menu ul li {
    margin: 0 35px;
  }
  .header .menu ul li a {
    display: block;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #1d1d1d;
  }
  @media screen and (max-width:1440px){
      .header .top {
        height: 90px;
      }
      .header .logo {
        position: absolute;
        left: 50%;
        top: 24px;
        transform: translateX(-50%);
      }
      .header .logo a img {
        width: 250px;
      }
      .header .language {
        float: right;
        margin-top: 30px;
      }
      .header .language ul li.app {
        position: relative;
        margin: 2px 15px 0 0;
        color: #666;
      }
      .header .language ul li.app::after {
        position: absolute;
        top: 5px;
        right: -18px;
        width: 1px;
        height: 15px;
        background-color: #ccc;
        content: "";
      }
      .header .language ul li {
        float: left;
        margin: 0 19px;
      }
      .header .language ul li.icon {
        margin-top: 2px;
      }
      .header .language ul li img {
        width: 25px;
        height: 25px;
      }
      .header .menu {
        height: 50px;
      }
      .header .menu .gnb_open {
        display: none;
      }
      .header .menu ul {
        display: flex;
        justify-content: center;
      }
      .header .menu ul li {
        margin: 0 32px;
      }
      .header .menu ul li a {
        display: block;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: #1d1d1d;
      }
  }
  @media screen and (max-width:1000px){
    .header .top {
        height: 85px;
      }
      .header .logo {
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
      }
      .header .logo a img {
        width: 220px;
      }
      .header .language {
        float: right;
        margin-top: 25px;
      }
      .header .language ul li.app {
        position: relative;
        margin: 2px 15px 0 0;
        color: #666;
      }
      .header .language ul li.app::after {
        position: absolute;
        top: 5px;
        right: -16px;
        width: 1px;
        height: 12px;
        background-color: #ccc;
        content: "";
      }
      .header .language ul li {
        float: left;
        margin: 0 17px;
      }
      .header .language ul li.icon {
        margin-top: 2px;
      }
      .header .language ul li img {
        width: 22px;
        height: 22px;
      }
      .header .menu {
        height: 40px;
      }
      .header .menu .gnb_open {
        display: none;
      }
      .header .menu ul {
        display: flex;
        justify-content: center;
      }
      .header .menu ul li {
        margin: 0 32px;
      }
      .header .menu ul li a {
        display: block;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        color: #1d1d1d;
      }
  }
  @media screen and (max-width:860px){
    .header {
        position: relative;
      }
      .header .top {
        height: 70px;
      }
      .header .logo {
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
      }
      .header .logo a img {
        width: 130px;
        height: 21px;
      }
      .header .language {
        display: none;    
      }
      .header .menu {
        position: absolute;
        right: 20px;
        top: 24px;
        display: inline;
      }
      .header .menu .gnb_open {
        display: block;
      }
      .header .menu .gnb_open span {
        display: none;
      }
      .header .menu .gnb_open i {
        display: block;
      }
      .header .menu .nav {
        display: none;
      }

  }

  aside.top {
    position: fixed;
    right: 42px;
    bottom: 328px;
    z-index: 300;
  }
  aside.top button {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #666;
    color: #fff;
  }
  aside.top button span {
    display: none;
  }
  aside.top button i {
    margin-top: 5px;
    font-size: 25px;
  }
  @media screen and (max-width:1440px){
    aside.top {
      right: 35px;
      bottom: 328px;
    }
    aside.top button {
      width: 42px;
      height: 42px;
    }
    aside.top button i {
      font-size: 22px;
    }
  }
  @media screen and (max-width:1200px){
    aside.top {
      right: 35px;
      bottom: 325px;
    }
    aside.top button {
      width: 38px;
      height: 38px;
    }
    aside.top button i {
      font-size: 20px;
    }
  }
  @media screen and (max-width:1000px){
    aside.top {
      right: 35px;
      bottom: 316px;
    }
    aside.top button {
      width: 34px;
      height: 34px;
    }
    aside.top button i {
      font-size: 18px;
    }
  }
  @media screen and (max-width:860px){
    aside.top {
      right: 35px;
      bottom: 340px;
    }
    aside.top button {
      width: 32px;
      height: 32px;
    }
    aside.top button i {
      font-size: 17px;
    }
  }
  @media screen and (max-width:640px){
    aside.top button {
      display: none;
    }
  }







  .footer {
    padding: 0 0 55px 0;
    background-color: #54585A;
    color: rgba(255, 255, 255, 0.7);
  }
  .footer .flink {
    float: right;
    margin: 37px 0 0 0;
  }
  .footer .sns {
    float: left;
    margin: 3px 15px 0 0;
  }
  .footer .sns ul {
    display: flex;
    align-items: center;
  }
  .footer .sns ul li {
    margin: 0 16px;
  }
  .footer .family {
    position: relative;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
  .footer .family button {
    width: 187px;
    height: 36px;
  }
  .footer .family span {
    display: block;
    position: absolute;
    top: 4px;
    left: 12px;
  }
  .footer .family i {
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 25px;
  }
  .footer .logo {
    padding: 44px 0 52px 0;
  }
  .footer .fnav {
    margin: 0 0 20px 0;
  }
  .footer .fnav li {
    position: relative;
    float: left;
    margin: 0 38px 0 0;
  }
  .footer .fnav li::after {
    position: absolute;
    top: 7px;
    right: -20px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    content: "";
  }
  .footer .fnav li:last-child:after {
    display: none;
  }
  .footer .fnav li:last-child {
    margin-right: 0;
  }
  .footer .fnav li.privacy {
    font-weight: 700;
  }
  .footer .finfo {
    margin: 0 0 10px 0;
  }
  .footer .finfo span {
    display: inline-block;
  }
  .footer .finfo span:first-child {
    margin-left: 0;
  }
  .footer .finfo span:last-child {
    margin-right: 0;
  }
  .footer .finfo span.border {
    position: relative;
    margin: 0 33px 0 0;
  }
  .footer .finfo span.border::after {
    position: absolute;
    top: 7px;
    right: -20px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    content: "";
  }
  @media screen and (max-width:1000px){
    .footer .family button {
      width: 160px;
      height: 35px;
    }
    .footer .family span {
      display: block;
      position: absolute;
      top: 6px;
      left: 12px;
    }
    .footer .family i {
      position: absolute;
      top: 6px;
      right: 8px;
      font-size: 22px;
    }
    .footer .fnav li::after {
      height: 9px;
    }
    .footer .finfo span.border::after {
      height: 9px;
    }
  }
  @media screen and (max-width:860px){
    .footer .family button {
      width: 150px;
    }
    .footer .family span {
      top: 7px;
    }
    .footer .family i {
      top: 7px;
      font-size: 21px;
    }
    .footer .fnav li::after {
      height: 8px;
    }
    .footer .finfo span.border::after {
      height: 8px;
    }
  }
  @media screen and (max-width:640px){
    .footer {
      position: relative;
      padding: 0 0 35px 0;
    }
    .footer .flink {
      float: none;
      margin: 0;
      padding: 10px 0 0 0;
    }
    .footer .flink::after {
      position: absolute;
      top: 65px;
      left: 0;
      width: calc(100% + 20px);
      border: 1px solid #999;
      content: "";
    }
    .footer .sns {
      margin: 10px 0 0 -5px;
    }
    .footer .sns ul {
      display: flex;
      align-items: center;
    }
    .footer .sns ul li {
      margin: 0 16px;
    }
    .footer .sns ul li a img {
      width: 90%;
    }
    .footer .family {
      position: relative;
      margin: 8px 5px 0 0;
      float: right;
      border: 1px solid rgba(255, 255, 255, 0.7);
    }
    .footer .family button {
      width: 125px;
      height: 30px;
    }
    .footer .family span {
      display: block;
      position: absolute;
      top: 5px;
      left: 10px;
    }
    .footer .family i {
      position: absolute;
      top: 5px;
      right: 6px;
      font-size: 20px;
    
    }
    .footer .logo {
      padding: 44px 0 0 0;
      margin: 40px 0 27px 0;
    }
    .footer .fnav {
      margin: 0 0 16px 0;
    }
    .footer .fnav li {
      margin: 0 30px 0 0;
    }
    .footer .fnav li::after {
      position: absolute;
      top: 6px;
      right: -16px;
      width: 1px;
      height: 7px;
      background-color: #ccc;
      content: "";
    }
    .footer .fnav li:nth-child(4):after {
      display: block;
    }
    .footer .finfo {
      margin: 0 0 16px 0;
    }
    .footer .finfo span:first-child {
      margin-left: 0;
    }
    .footer .finfo span:last-child {
      margin-right: 0;
    }
    .footer .finfo span, .footer .finfo span.border {
      position: relative;
      margin: 0 25px 0 0;
    }
    .footer .finfo span::after, .footer .finfo span.border::after {
      display: none;
    }
  }