@import url(default.css);
@import url(common.css);



.visual {
  position: relative;
  margin: 0 0 120px 0;
}
.visual .banner ul li a {
  height: 600px;
  display: block;
}
.visual .banner ul li a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visual .banner .btn_wrap {
  display: flex;
  align-items: center;
  position: absolute;
  left: calc(50% - 39px);
  bottom: 60px;
  z-index: 10;
}
.visual .banner .btn_wrap .btn_paging {
  display: flex;
  font-size: 0;
  line-height: 0;
}
.visual .banner .btn_wrap .btn_paging span {
  opacity: 1;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
}
.visual .banner .btn_wrap .btn_paging span.swiper-pagination-bullet-active {
  opacity: 1;
  margin: 0 6px;
  width: 30px;
  height: 10px;
  background-color: #DA291C;
  border: 0;
  border-radius: 30px;
  transition: 0.3s;
}
.visual .store {
  position: absolute;
  right: calc(50% - 700px);
  bottom: -60px;
  z-index: 25;
}
.visual .store a {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 389px;
  height: 104px;
  text-align: center;
}
.visual .store a.find {
  background-color: #DA291C;
  color: #fff;
  border-radius: 40px 0 0 0;
}
.visual .store a.fran {
  background-color: #FFEF77;
  color: #1d1d1d;
  border-radius: 0 0 40px 0;
}
.visual .store a i {
  margin-right: 20px;
}
.visual .store a.find i {
  display: inline-block;
  font-size: 35px;
  height: 40px;
}
.visual .store a.fran i {
  display: inline-block;
  font-size: 40px;
  font-weight: 400;
}
.visual .store a span {
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .visual {
    margin: 0 0 100px 0;
  }
  .visual .banner ul li a {
    display: block;
  }
  .visual .banner .btn_wrap {
    left: calc(50% - 35px);
    bottom: 65px;
  }
  .visual .banner .btn_wrap .btn_paging span {
    width: 8px;
    height: 8px;
  }
  .visual .banner .btn_wrap .btn_paging span.swiper-pagination-bullet-active {
    width: 26px;
    height: 8px;
  }
  .visual .store {
    right: calc(50% - 670px);
    bottom: -40px;
  }
  .visual .store a {
    width: 330px;
    height: 95px;
  }
  .visual .store a.find i {
    font-size: 30px;
    height: 33px;
  }
  .visual .store a.fran i {
    font-size: 32px;
  }
  .visual .store a span {
    font-size: 25px;
  }
}
@media screen and (max-width: 1200px) {
  .visual {
    margin: 0 0 70px 0;
  }
  .visual .banner ul li a {
    height: 500px;
  }
  .visual .banner .btn_wrap {
    left: calc(50% - 33px);
    bottom: 60px;
  }
  .visual .banner .btn_wrap .btn_paging span.swiper-pagination-bullet-active {
    width: 24px;
  }
  .visual .store {
    right: calc(50% - 550px);
    bottom: -30px;
  }
  .visual .store a {
    width: 250px;
    height: 70px;
  }
  .visual .store a.find {
    border-radius: 30px 0 0 0;
  }
  .visual .store a.fran {
    border-radius: 0 0 30px 0;
  }
  .visual .store a.find i {
    font-size: 28px;
    height: 30px;
  }
  .visual .store a.fran i {
    font-size: 30px;
  }
  .visual .store a span {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  .visual {
    margin: 0 0 60px 0;
  }
  .visual .banner .btn_wrap {
    left: calc(50% - 33px);
    bottom: 50px;
  }
  .visual .banner .btn_wrap .btn_paging span.swiper-pagination-bullet-active {
    width: 22px;
  }
  .visual .store {
    right: calc(50% - 450px);
    bottom: -30px;
  }
  .visual .store a {
    width: 210px;
    height: 55px;
  }
  .visual .store a.find {
    border-radius: 22px 0 0 0;
  }
  .visual .store a.fran {
    border-radius: 0 0 22px 0;
  }
  .visual .store a.find i {
    font-size: 28px;
    height: 30px;
  }
  .visual .store a.fran i {
    font-size: 30px;
  }
  .visual .store a span {
    font-size: 18px;
  }
}
@media screen and (max-width: 860px) {
  .visual {
    margin: 0;
  }
  
  .visual .banner ul li a {
    height: 300px;
  }
  .visual .banner .btn_wrap {
    left: calc(50% - 39px);
    bottom: 15px;
  }
  .visual .banner .btn_wrap .btn_paging span {
    width: 5px;
    height: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .visual .banner .btn_wrap .btn_paging span.swiper-pagination-bullet-active {
    margin: 0 3px;
    width: 15px;
    height: 5px;
    border-radius: 4px;
  }
  .visual .store {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .visual .banner ul li a {
    height: 200px;
  }
}

.burger {
  position: relative;
  padding: 84px 0 162px 0;
  background-color: #E60012;
}
.burger h2 {
  float: left;
  position: relative;
  color: #fff;
}
.burger h2 span.new, .burger h2 span.best {
  font-size: 80px;
  font-weight: 700;
}
.burger h2 span.best {
  display: inline-block;
  transform: translate(-65%,85%);
}
.burger h2 span.and {
  display: inline-block;
  font-size: 70px;
  font-weight: 400;
  transform: translate(-30%,33%);
}
.burger .food {
  position: relative;
  margin-left: 43%;
}
.burger .food ul li {
  overflow: hidden;
  float: left;
  background-color: #fff;
  margin: 0 80px 46px 0;
  width: calc(50% - 40px);
  border-radius: 40px 0 40px 0;
}
.burger .food ul li:nth-child(3), .burger .food ul li:nth-child(4) {
  margin-bottom: 0;
}
.burger .food ul li:nth-child(2), .burger .food ul li:nth-child(4) {
  margin-right: 0;
  transform: translateY(102px);
}
.burger .food ul li a {
  display: block;
}
.burger .food h3 {
  margin: 10px 0 11px 20px;
  font-size: 25px;
  font-weight: 700;
}
.burger .food p {
  display: block;
  font-size: 16px;
  margin: 0 0 26px 20px;
}
.burger .food ul li a img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.burger .more {
  position: absolute;
  top: 0;
  right: 20px;
  width: 164px;
  height: 44px;
  background-color: #fff;
  border-radius: 22px;
}
.burger .more a {
  margin: 8px 6px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger .more span {
  margin: 0 4px 0 21px;
  font-size: 18px;
}
.burger .more i {
  font-size: 25px;
}
.burger .more i.add {
  display: none;
}

@media screen and (max-width: 1440px) {
 
  .burger h2 span.new, .burger h2 span.best {
    font-size: 69px;
  }
  .burger h2 span.best {
    top: 103px;
    left: 115px;
  }
  .burger h2 span.and {
    top: 50px;
    left: 150px;
    font-size: 60px;
  }
  .burger .food {
    margin-left: 40%;
  }
  .burger .food ul li {
    margin: 0 70px 46px 0;
    width: calc(50% - 35px);
  }
  .burger .food ul li a {
    display: block;
  }
  .burger .food h3 {
    margin: 10px 0 11px 15px;
    font-size: 22px;
  }
  .burger .food p {
    display: block;
    font-size: 15px;
    margin: 0 0 26px 15px;
  }
  .burger .food ul li a img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  .burger .more {
    width: 164px;
    height: 44px;
  }
  .burger .more a {
    margin: 8px 6px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger .more span {
    margin: 0 4px 0 21px;
    font-size: 18px;
  }
  .burger .more i {
    font-size: 25px;
  }
}
@media screen and (max-width: 1200px) {
  
  .burger h2 span.new, .burger h2 span.best {
    font-size: 60px;
  }
  .burger h2 span.and {
    top: 40px;
    left: 135px;
    font-size: 55px;
  }
  .burger h2 span.best {
    top: 82px;
    left: 100px;
  }
  .burger .food {
    margin-left: 35%;
  }
  .burger .food ul li {
    margin: 0 60px 30px 0;
    width: calc(50% - 30px);
  }
  .burger .food ul li a {
    display: block;
  }
  .burger .food h3 {
    margin: 7px 0 11px 15px;
    font-size: 20px;
  }
  .burger .food p {
    display: block;
    font-size: 14px;
    padding: 0 10px 0 0;
    margin: 0 0 20px 15px;
  }
  .burger .food ul li a img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  .burger .more {
    width: 135px;
    height: 40px;
  }
  .burger .more a {
    margin: 8px 6px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger .more span {
    margin: 0 4px 0 21px;
    font-size: 16px;
  }
  .burger .more i {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  
  .burger h2 {
    width: 35%;
    white-space: nowrap;
  }
  .burger h2 span.new, .burger h2 span.best {
    font-size: 60px;
  }
  .burger h2 span.and {
    top: 40px;
    left: 135px;
    font-size: 55px;
  }
  .burger h2 span.best {
    top: 82px;
    left: 100px;
  }
  .burger .food {
    margin-left: 35%;
  }
  .burger .food ul li {
    margin: 0 50px 30px 0;
    width: calc(50% - 25px);
  }
  .burger .food ul li a {
    display: block;
  }
  .burger .food h3 {
    margin: 7px 0 7px 12px;
    font-size: 18px;
  }
  .burger .food p {
    display: block;
    font-size: 13px;
    padding: 0 10px 0 0;
    margin: 0 0 15px 12px;
  }
  .burger .food ul li a img {
    height: 150px;
  }
  .burger .more {
    width: 130px;
    height: 38px;
  }
  .burger .more a {
    margin: 8px 4px 0 0;
  }
  .burger .more span {
    margin: 1px 4px 0 21px;
    font-size: 15px;
  }
  .burger .more i {
    margin: 2px 0 0 0 ;
    font-size: 20px;
  }
}
@media screen and (max-width: 860px) {
  .burger {
    padding: 19px 0 110px 0;
  }
  .burger h2 {
    float: none;
    width: auto;
    margin: 0 0 70px 0;
  }
  .burger h2 span.new, .burger h2 span.best {
    font-size: 40px;
  }
  .burger h2 span.and {
    top: 33px;
    left: 89px;
    font-size: 30px;
  }
  .burger h2 span.best {
    top: 56px;
    left: 60px;
  }
  .burger .food {
    margin: 0 auto;
    max-width: 520px;
  }
  .burger .food ul li {
    float: left;
    margin: 0 16px 40px 0;
    width: calc(50% - 8px);
    border-radius: 20px 0 20px 0;
  }
  .burger .food ul li:nth-child(1), .burger .food ul li:nth-child(3) {
    transform: translateY(25%);
  }
  .burger .food ul li:nth-child(2), .burger .food ul li:nth-child(4) {
    margin-right: 0;
    transform: translateY(-25%);
  }
  .burger .food ul li a {
    display: block;
    width: auto;
  }
  .burger .food h3 {
    margin: 7px 0 9px 10px;
    font-size: 13px;
  }
  .burger .food p {
    display: none;
  }
  .burger .food ul li a img {
    height: 150px;
  }
  .burger .more {
    top: 33px;
    width: 27px;
    height: 27px;
  }
  
  .burger .more a {
    margin: 0;
  }
  .burger .more span {
    display: none;
  }
  .burger .more i {
    display: none;
  }
  .burger .more i.add {
    margin: 0 0 4px 0;
    display: block;
    color: #E60012;
    font-size: 27px;
  }
}

.cnts {
  height: 884px;
  padding: 68px 0 112px 0;
}
.cnts ul.list {
  position: relative;
}
.cnts ul.list>li {
  float: left;
  margin: 0 40px 0 0;
}
.cnts .list li h2 {
  margin: 0 0 56px 0;
  font-size: 60px;
  font-weight: 400;
  color: #ccc;
}
.cnts .list li.active h2 {
  font-weight: 700;
  color: #1d1d1d;
}
.cnts ul li.active .detail {
  display: block;
}
.cnts ul li .detail {
  display: none;
  position: absolute;
  left: 0;
  top: 133px;
  width: 100%;
}
.cnts ul li.active .detail {
  display: block;
}
.cnts ul li .detail ul {
  width: 1440px;
}
.cnts ul li .detail ul li {
  overflow: hidden;
  float: left;
  margin: 0 40px 0 0;
  width: 440px;
  border-radius: 40px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.cnts ul li .detail ul li:last-child {
  margin-right: 0;
}
.cnts ul li .detail ul li a {
  display: block;
  width: 440px;
  height: 566px;
}
.cnts ul li .detail ul li a img {
  width: 100%;
  height: 426px;
  object-fit: cover;
}
.cnts ul li .detail ul li a p {
  margin: 16px 20px 14px 40px;
  font-size: 18px;
  line-height: 1.4;
}
.cnts ul li .detail ul li a span {
  margin: 0 0 34px 40px;
  color: #666;
}
.cnts ul li .detail.notice ul li a p {
  margin: 16px 40px 28px 39px;
  font-size: 25px;
  font-weight: 700;
}
.cnts ul li .detail.notice ul li a span {
  margin: 0 0 34px 39px;
}
.cnts ul li .btn_wrap {
  display: none;
  position: absolute;
  top: 15px;
  right: 0;
}
.cnts ul li.active .btn_wrap {
  display: block;
}
.cnts ul li .btn_wrap button {
  position: absolute;
  top: 0;
  right: 255px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.cnts ul li .btn_wrap button.on {
  right: 191px;
}
.cnts ul li .btn_wrap button span {
  display: none;
}
.cnts ul li .btn_wrap button i {
  margin: 5px 0 0 0;
  font-size: 20px;
  color: #ccc;
}
.cnts ul li .btn_wrap button.on i {
  color: #3d3d3d;
}
.cnts ul li .btn_wrap a {
  display: block;
  width: 164px;
  height: 44px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 22px;
}
.cnts ul li .btn_wrap a span {
  float: left;
  margin: 10px 0 0 23px;
  font-size: 18px;
}
.cnts ul li .btn_wrap a i.pc {
  float: right;
  margin: 10px 12px 0 0;
}
.cnts ul li .btn_wrap a i.mobile {
  display: none;
}
@media screen and (max-width: 1440px) {
  .cnts {
    height: 800px;
    padding: 73px 0 112px 0;
  }
  .cnts ul.list {
    position: relative;
  }
  .cnts ul.list>li {
    margin: 0 35px 0 0;
  }
  .cnts .list li h2 {
    margin: 0 0 40px 0;
    font-size: 55px;
    font-weight: 400;
    color: #ccc;
  }
  .cnts .list li.active h2 {
    font-weight: 700;
    color: #1d1d1d;
  }
  .cnts ul li.active .detail {
    display: block;
  }
  .cnts ul li .detail {
    display: none;
    overflow-y: hidden;
    overflow-x: scroll;
    position: absolute;
    left: 0;
    top: 115px;
    width: calc(100% + 80px);
    padding: 0 0 18px 0;
  }
  .cnts ul li.active .detail {
    display: block;
  }
  .cnts ul li .detail ul {
    width: 1440px;
  }
  .cnts ul li .detail ul li {
    margin: 0 35px 0 0;
    width: 430px;
  }
  .cnts ul li .detail ul li a {
    width: 430px;
    height: 520px;
  }
  .cnts ul li .detail ul li a img {
    height: 380px;
  }
  .cnts ul li .detail ul li a p {
    margin: 13px 30px 14px 30px;
    font-size: 17px;
  }
  .cnts ul li .detail ul li a span {
    margin: 0 0 34px 30px;
    font-size: 15px;
  }
  .cnts ul li .detail.notice ul li a p {
    margin: 16px 30px 28px 35px;
    font-size: 23px;
  }
  .cnts ul li .detail.notice ul li a span {
    margin: 0 0 34px 35px;
  }
  .cnts ul li .btn_wrap {
    display: none;
    position: absolute;
    top: 15px;
    right: 0;
  }
  .cnts ul li.active .btn_wrap {
    display: block;
  }
  .cnts ul li .btn_wrap button {
    position: absolute;
    top: 3px;
    right: 255px;
    width: 40px;
    height: 40px;
  }
  .cnts ul li .btn_wrap button.on {
    right: 191px;
  }
  .cnts ul li .btn_wrap button span {
    display: none;
  }
  .cnts ul li .btn_wrap button i {
    margin: 5px 0 0 0;
    font-size: 20px;
    color: #ccc;
  }
  .cnts ul li .btn_wrap button.on i {
    color: #3d3d3d;
  }
  .cnts ul li .btn_wrap a {
    display: block;
    width: 164px;
    height: 44px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
  }
  .cnts ul li .btn_wrap a span {
    float: left;
    margin: 10px 0 0 23px;
    font-size: 17px;
  }
  .cnts ul li .btn_wrap a i.pc {
    float: right;
    margin: 10px 12px 0 0;
    font-size: 24px;
  }
  .cnts ul li .btn_wrap a i.mobile {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .cnts {
    height: 750px;
    padding: 73px 0 112px 0;
  }
  .cnts .list li h2 {
    margin: 0 0 56px 0;
    font-size: 50px;
    font-weight: 400;
    color: #ccc;
  }
  .cnts ul li.active .detail {
    display: block;
  }
  .cnts ul li .detail {
    display: none;
    width: calc(100% + 170px);
    position: absolute;
    left: 0;
    top: 100px;
  }
  .cnts ul li.active .detail {
    display: block;
  }
  .cnts ul li .detail ul {
    width: 1440px;
  }
  .cnts ul li .detail ul li {
    margin: 0 35px 0 0;
    width: 400px;
  }
  .cnts ul li .detail ul li a {
    width: 400px;
    height: 480px;
  }
  .cnts ul li .detail ul li a img {
    height: 340px;
  }
  .cnts ul li .detail ul li a p {
    margin: 13px 30px 14px 25px;
    font-size: 16px;
  }
  .cnts ul li .detail ul li a span {
    margin: 0 0 34px 25px;
    font-size: 14px;
  }
  .cnts ul li .detail.notice ul li a p {
    margin: 16px 30px 28px 35px;
    font-size: 23px;
  }
  .cnts ul li .detail.notice ul li a span {
    margin: 0 0 34px 35px;
  }
  .cnts ul li .btn_wrap {
    display: none;
    position: absolute;
    top: 15px;
    right: 0;
  }
  .cnts ul li.active .btn_wrap {
    display: block;
  }
  .cnts ul li .btn_wrap button {
    position: absolute;
    top: 5px;
    right: 240px;
    width: 38px;
    height: 38px;
  }
  .cnts ul li .btn_wrap button.on {
    right: 180px;
  }
  .cnts ul li .btn_wrap button span {
    display: none;
  }
  .cnts ul li .btn_wrap button i {
    margin: 6px 0 0 0;
    font-size: 18px;
    color: #ccc;
  }
  .cnts ul li .btn_wrap button.on i {
    color: #3d3d3d;
  }
  .cnts ul li .btn_wrap a {
    width: 164px;
    height: 44px;
  }
  .cnts ul li .btn_wrap a span {
    float: left;
    margin: 10px 0 0 23px;
    font-size: 17px;
  }
  .cnts ul li .btn_wrap a i.pc {
    float: right;
    margin:13px 12px 0 0;
    font-size: 20px;
  }
  .cnts ul li .btn_wrap a i.mobile {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .cnts {
    height: 650px;
    padding: 50px 0 112px 0;
  }
  .cnts ul.list>li {
    margin: 0 25px 0 0;
  }
  .cnts .list li h2 {
    margin: 0 0 50px 0;
    font-size: 35px;
  }
  .cnts ul li .detail {
    display: none;
    overflow-y: hidden;
    overflow-x: scroll;
    width: calc(100% + 170px);
    position: absolute;
    left: 0;
    top: 90px;
  }
  .cnts ul li.active .detail {
    display: block;
  }
  .cnts ul li .detail ul {
    width: 1190px;
  }
  .cnts ul li .detail ul li {
    margin: 0 30px 0 0;
    width: 320px;
  }
  .cnts ul li .detail ul li a {
    width: 340px;
    height: 420px;
  }
  .cnts ul li .detail ul li a img {
    height: 290px;
  }
  .cnts ul li .detail ul li a p {
    margin: 13px 30px 14px 25px;
    font-size: 15px;
  }
  .cnts ul li .detail ul li a span {
    margin: 0 0 34px 25px;
    font-size: 14px;
  }
  .cnts ul li .detail.notice ul li a p {
    margin: 16px 20px 28px 25px;
    font-size: 18px;
  }
  .cnts ul li .detail.notice ul li a span {
    margin: 0 0 34px 25px;
  }
  .cnts ul li .btn_wrap {
    display: none;
    position: absolute;
    top: 15px;
    right: 0;
  }
  .cnts ul li.active .btn_wrap {
    display: block;
  }
  .cnts ul li .btn_wrap button {
    position: absolute;
    top: 5px;
    right: 200px;
    width: 34px;
    height: 34px;
  }
  .cnts ul li .btn_wrap button.on {
    right: 140px;
  }
  .cnts ul li .btn_wrap button span {
    display: none;
  }
  .cnts ul li .btn_wrap button i {
    margin: 6px 0 0 0;
    font-size: 15px;
  }
  .cnts ul li .btn_wrap a {
    width: 124px;
    height: 40px;
  }
  .cnts ul li .btn_wrap a span {
    float: left;
    margin: 12px 0 0 23px;
    font-size: 14px;
  }
  .cnts ul li .btn_wrap a i.pc {
    margin:14px 12px 0 0;
    font-size: 16px;
  }
}
@media screen and (max-width: 860px) {
  .cnts {
    height: 450px;
    padding: 39px 0 49px 0;
  }
  .cnts ul.list>li {
    float: left;
    margin: 0 16px 0 0;
  }
  .cnts .list li h2 {
    margin: 0 0 14px 0;
    font-size: 25px;
  }
  .cnts ul li .detail {
    width: 100%;
    top: 50px;
    padding: 0 0 18px 0;
  }
  .cnts ul li.active .detail {
    display: block;
  }
  .cnts ul li .detail ul {
    width: 948px;
  }
  .cnts ul li .detail ul li {
    margin: 0 16px 0 0;
    width: 300px;
    border-radius: 30px;
    box-shadow: none;
  }
  .cnts ul li .detail ul li a {
    display: block;
    width: 300px;
    height: 300px;
  }
  .cnts ul li .detail ul li a img {
    width: 100%;
    height: 100%;
  }
  .cnts ul li .detail ul li a p {
    display: none;
  }
  .cnts ul li .detail ul li a span {
    display: none;
  }
  .cnts ul li .detail.notice ul li a {
    display: block;
  }
  .cnts ul li .detail.notice ul li a img {
    height: 250px;
  }
  .cnts ul li .detail.notice ul li a p {
    display: block;
    margin: 7px 0 0 20px;
    font-size: 15px;
    font-weight: 500;
  }
  .cnts ul li .detail.notice ul li a span {
    margin: 0 0 34px 39px;
  }
  .cnts ul li .btn_wrap {
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
  }
  .cnts ul li.active .btn_wrap {
    display: block;
  }
  .cnts ul li .btn_wrap button {
    display: none;
  }
  .cnts ul li .btn_wrap a {
    position: absolute;
    top: -6px;
    right: 0;
    width: 27px;
    height: 27px;
    box-shadow: none;
    border-radius: 50%;
    background-color: #E60012;
  }
  .cnts ul li .btn_wrap a span {
    display: none;
  }
  .cnts ul li .btn_wrap a i.pc {
    display: none;
  }
  .cnts ul li .btn_wrap a i.mobile {
    position: absolute;
    right: 3px;
    top: 2px;
    display: block;
    font-size: 22px;
    color: #fff;
  }
}
@media screen and (max-width: 640px) {
  .cnts {
    height: 347px;
    padding: 39px 0 49px 0;
  }
  .cnts ul.list>li {
    float: left;
    margin: 0 16px 0 0;
  }
  .cnts .list li h2 {
    margin: 0 0 14px 0;
    font-size: 25px;
  }
  .cnts ul li .detail {
    width: 100%;
    top: 50px;
    padding: 0 0 18px 0;
  }
  .cnts ul li.active .detail {
    display: block;
  }
  .cnts ul li .detail ul {
    width: 672px;
  }
  .cnts ul li .detail ul li {
    margin: 0 16px 0 0;
    width: 208px;
    border-radius: 30px;
    box-shadow: none;
  }
  .cnts ul li .detail ul li a {
    display: block;
    width: 208px;
    height: 210px;
  }
  .cnts ul li .detail ul li a img {
    width: 100%;
    height: 100%;
  }
  .cnts ul li .detail ul li a p {
    display: none;
  }
  .cnts ul li .detail ul li a span {
    display: none;
  }
  .cnts ul li .detail.notice ul li a {
    display: block;
  }
  .cnts ul li .detail.notice ul li a img {
    height: 160px;
  }
  .cnts ul li .detail.notice ul li a p {
    display: block;
    margin: 7px 0 0 15px;
    font-size: 14px;
    font-weight: 500;
  }
  .cnts ul li .detail.notice ul li a span {
    margin: 0 0 34px 39px;
  }
  .cnts ul li .btn_wrap {
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
  }
  .cnts ul li.active .btn_wrap {
    display: block;
  }
  .cnts ul li .btn_wrap button {
    display: none;
  }
  .cnts ul li .btn_wrap a {
    position: absolute;
    top: -6px;
    right: 0;
    width: 27px;
    height: 27px;
    box-shadow: none;
    border-radius: 50%;
    background-color: #E60012;
  }
  .cnts ul li .btn_wrap a span {
    display: none;
  }
  .cnts ul li .btn_wrap a i.pc {
    display: none;
  }
  .cnts ul li .btn_wrap a i.mobile {
    position: absolute;
    right: 3px;
    top: 2px;
    display: block;
    font-size: 22px;
    color: #fff;
  }
}


.link ul li {
  float: left;
  width: 50%;
}
.link ul li a {
  display: block;
  height: 335px;
  color: #fff;
}
.link ul li a h2 {
  font-size: 45px;
  font-weight: 700;
}
.link ul li a span {
  font-size: 20px;
}
.link ul li.eatz {
  background: url(../images/banner1.png) no-repeat center center / cover;
  text-align: right;
}
.link ul li.eatz a h2 {
  padding: 168px 100px 0 0;
}
.link ul li.eatz a span {
  padding: 0 100px 0 0;
}
.link ul li.service {
  background: url(../images/banner2.png) no-repeat center center / cover;
}
.link ul li.service a h2 {
  padding: 168px 0 0 100px;
}
.link ul li.service a span {
  padding: 0 0 0 100px;
}
@media screen and (max-width: 1440px) {
  .link ul li a {
    height: 280px;
  }
  .link ul li a h2 {
    font-size: 40px;
  }
  .link ul li a span {
    font-size: 18px;
  }
  .link ul li.eatz a h2 {
    padding: 130px 90px 0 0;
  }
  .link ul li.eatz a span {
    padding: 0 90px 0 0;
  }
  .link ul li.service a h2 {
    padding: 130px 0 0 90px;
  }
  .link ul li.service a span {
    padding: 0 0 0 90px;
  }
}
@media screen and (max-width: 1200px) {
  .link ul li a {
    height: 250px;
  }
  .link ul li a h2 {
    font-size: 35px;
  }
  .link ul li a span {
    font-size: 16px;
  }
  .link ul li.eatz a h2 {
    padding: 120px 80px 0 0;
  }
  .link ul li.eatz a span {
    padding: 0 80px 0 0;
  }
  .link ul li.service a h2 {
    padding: 120px 0 0 80px;
  }
  .link ul li.service a span {
    padding: 0 0 0 80px;
  }
}
@media screen and (max-width: 1000px) {
  .link ul li a {
    height: 190px;
  }
  .link ul li a h2 {
    font-size: 28px;
  }
  .link ul li a span {
    font-size: 16px;
  }
  .link ul li.eatz a h2 {
    padding: 75px 50px 0 0;
  }
  .link ul li.eatz a span {
    padding: 0 50px 0 0;
  }
  .link ul li.service a h2 {
    padding: 75px 0 0 50px;
  }
  .link ul li.service a span {
    padding: 0 0 0 50px;
  }
}
@media screen and (max-width: 860px) {
  .link ul li a {
    height: 170px;
  }
  .link ul li a h2 {
    font-size: 23px;
  }
  .link ul li a span {
    font-size: 14px;
  }
  .link ul li.eatz a h2 {
    padding: 67px 30px 0 0;
  }
  .link ul li.eatz a span {
    padding: 0 30px 0 0;
  }
  .link ul li.service a h2 {
    padding: 70px 0 0 30px;
  }
  .link ul li.service a span {
    padding: 0 0 0 30px;
  }
}
@media screen and (max-width: 640px) {
  .link {
    padding: 0;
  }
  .link ul li {
    float: none;
    width: auto;
  }
  .link ul li a {
    height: 150px;
  }
  .link ul li a h2 {
    font-size: 20px;
  }
  .link ul li a span {
    font-size: 13px;
  }
  .link ul li.eatz a h2 {
    padding: 84px 20px 0 0;
  }
  .link ul li.eatz a span {
    padding: 0 20px 0 0;
  }
  .link ul li.service a h2 {
    padding: 84px 0 0 20px;
  }
  .link ul li.service a span {
    padding: 0 0 0 20px;
  }
}

.subsidiary {
  padding: 54px 0 91px 0;
}
.subsidiary .lotte h2 {
  margin: 0 0 12px 0;
  font-size: 60px;
  font-weight: 700;
  color: #1d1d1d;
}
.subsidiary .lotte span {
  font-size: 20px;
  color: #666;
}
.subsidiary .brand ul {
  display: flex;
}
.subsidiary .brand ul li {
  margin: 0 40px 0 0;
}
.subsidiary .brand ul li:last-child {
  margin-right: 0;
}
.subsidiary .brand ul li a {
  display: block;
}
.subsidiary .brand ul li a span {
  display: block;
  margin: 52px 0 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid #EDEDED;
}
.subsidiary .brand ul li.angel a span {
  background-image: url(../images/subsi1.svg);
}
.subsidiary .brand ul li.donut a span {
  background-image: url(../images/subsi2.svg);
}
.subsidiary .brand ul li.group a span {
  background-image: url(../images/subsi3.svg);
}
.subsidiary .brand ul li.mart a span {
  background-image: url(../images/subsi4.svg);
}
.subsidiary .brand ul li.drink a span {
  background-image: url(../images/subsi5.svg);
}
.subsidiary .brand ul li.super a span {
  background-image: url(../images/subsi6.svg);
}
.subsidiary .brand ul li.depart a span {
  background-image: url(../images/subsi7.svg);
}
.subsidiary .brand ul li a strong {
  display: block;
  margin: 21px 0 0 0;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .subsidiary {
    padding: 45px 0 80px 0;
  }
  .subsidiary .lotte h2 {
    margin: 0 0 6px 0;
    font-size: 50px;
  }
  .subsidiary .lotte span {
    font-size: 18px;
  }
  .subsidiary .brand {
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0 0 15px 0;
  }
  .subsidiary .brand ul li {
    margin: 0 35px 0 0;
  }
  .subsidiary .brand ul li a span {
    margin: 45px 0 0 0;
    width: 150px;
    height: 150px;
  }
  .subsidiary .brand ul li a strong {
    margin: 10px 0 0 0;
  }
}
@media screen and (max-width: 1200px) {
  .subsidiary {
    padding: 30px 0 70px 0;
  }
  .subsidiary .lotte h2 {
    margin: 0 0 4px 0;
    font-size: 45px;
  }
  .subsidiary .lotte span {
    font-size: 16px;
  }
  .subsidiary .brand ul li {
    margin: 0 30px 0 0;
  }
  .subsidiary .brand ul li a span {
    margin: 40px 0 0 0;
  }
  .subsidiary .brand ul li a strong {
    margin: 8px 0 0 0;
  }
}
@media screen and (max-width: 1000px) {
  .subsidiary {
    padding: 20px 0 60px 0;
  }
  .subsidiary .lotte h2 {
    margin: 0;
    font-size: 40px;
  }
  .subsidiary .lotte span {
    font-size: 14px;
  }
  .subsidiary .brand ul li {
    margin: 0 25px 0 0;
  }
  .subsidiary .brand ul li a span {
    margin: 40px 0 0 0;
  }
  .subsidiary .brand ul li a strong {
    margin: 8px 0 0 0;
  }
}
@media screen and (max-width: 860px) {
  .subsidiary {
    padding: 20px 0 60px 0;
  }
  .subsidiary .lotte h2 {
    font-size: 30px;
  }
  .subsidiary .lotte span {
    font-size: 13px;
  }
  .subsidiary .brand ul li {
    margin: 0 25px 0 0;
  }
  .subsidiary .brand ul li a span {
    margin: 20px 0 0 0;
  }
  .subsidiary .brand ul li a strong {
    margin: 8px 0 0 0;
    font-size: 13px;
  }
}
@media screen and (max-width: 640px) {
  .subsidiary {
    display: none;
  }
}

