@import url(default.css);
@import url(common.css);






.visual {
  position: relative;
  margin: 0 0 120px 0;
}
.visual .banner ul li a {
  height: 600px;
  display: block;
}
.visual .banner ul li a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visual .banner .btn_wrap {
  display: flex;
  align-items: center;
  position: absolute;
  left: calc(50% - 39px);
  bottom: 60px;
  z-index: 10;
}
.visual .banner .btn_wrap .btn_paging {
  display: flex;
  font-size: 0;
  line-height: 0;
}
.visual .banner .btn_wrap .btn_paging span {
  opacity: 1;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
}
.visual .banner .btn_wrap .btn_paging span.swiper-pagination-bullet-active {
  opacity: 1;
  margin: 0 6px;
  width: 30px;
  height: 10px;
  background-color: #DA291C;
  border: 0;
  border-radius: 30px;
  transition: 0.3s;
}
.visual .store {
  position: absolute;
  right: calc(50% - 700px);
  bottom: -60px;
  z-index: 25;
}
.visual .store a {
  float: left;
  display: block;
  width: 389px;
  height: 104px;
  text-align: center;
}
.visual .store a.find {
  background-color: #DA291C;
  color: #fff;
  border-radius: 40px 0 0 0;
}
.visual .store a.fran {
  background-color: #FFEF77;
  color: #1d1d1d;
  border-radius: 0 0 40px 0;
}
.visual .store a.find i {
  position: absolute;
  display: inline-block;
  font-size: 35px;
  height: 40px;
  left: 102px;
  top: 33px;
}
.visual .store a.fran i {
  position: absolute;
  display: inline-block;
  font-size: 40px;
  font-weight: 400;
  right: 270px;
  top: 32px;
}
.visual .store a span {
  font-size: 30px;
  font-weight: 700;
}
.visual .store a.find span {
  display: inline-block;
  padding: 28px 0 0 17px;
}
.visual .store a.fran span {
  display: inline-block;
  padding: 28px 0 0 20px;
}

@media screen and (max-width: 1440px) {
  .visual {
    margin: 0 0 100px 0;
  }
  .visual .banner ul li a {
    height: auto;
    display: block;
  }
  .visual .banner .btn_wrap {
    left: calc(50% - 35px);
    bottom: 65px;
  }
  .visual .banner .btn_wrap .btn_paging span {
    width: 8px;
    height: 8px;
  }
  .visual .banner .btn_wrap .btn_paging span.swiper-pagination-bullet-active {
    width: 26px;
    height: 8px;
  }
  .visual .store {
    right: calc(50% - 670px);
    bottom: -40px;
  }
  .visual .store a {
    width: 330px;
    height: 95px;
  }
  .visual .store a.find i {
    font-size: 30px;
    height: 33px;
    left: 80px;
    top: 34px;
  }
  .visual .store a.fran i {
    font-size: 32px;
    right: 233px;
    top: 34px;
  }
  .visual .store a span {
    font-size: 25px;
  }
  .visual .store a.find span {
    display: inline-block;
    padding: 30px 0 0 33px;
  }
  .visual .store a.fran span {
    display: inline-block;
    padding: 30px 0 0 33px;
  }
}
@media screen and (max-width: 1200px) {
  .visual {
    margin: 0 0 70px 0;
  }
  .visual .banner .btn_wrap {
    left: calc(50% - 33px);
    bottom: 60px;
  }
  .visual .banner .btn_wrap .btn_paging span.swiper-pagination-bullet-active {
    width: 24px;
  }
  .visual .store {
    right: calc(50% - 550px);
    bottom: -30px;
  }
  .visual .store a {
    width: 250px;
    height: 70px;
  }
  .visual .store a.find {
    border-radius: 30px 0 0 0;
  }
  .visual .store a.fran {
    border-radius: 0 0 30px 0;
  }
  .visual .store a.find i {
    font-size: 28px;
    height: 30px;
    left: 50px;
    top: 22px;
  }
  .visual .store a.fran i {
    font-size: 30px;
    right: 180px;
    top: 22px;
  }
  .visual .store a span {
    font-size: 22px;
  }
  .visual .store a.find span {
    padding: 20px 0 0 28px;
  }
  .visual .store a.fran span {
    padding: 20px 0 0 26px;
  }
}
@media screen and (max-width: 1000px) {
  .visual {
    margin: 0 0 60px 0;
  }
  .visual .banner .btn_wrap {
    left: calc(50% - 33px);
    bottom: 50px;
  }
  .visual .banner .btn_wrap .btn_paging span.swiper-pagination-bullet-active {
    width: 22px;
  }
  .visual .store {
    right: calc(50% - 450px);
    bottom: -30px;
  }
  .visual .store a {
    width: 210px;
    height: 55px;
  }
  .visual .store a.find {
    border-radius: 22px 0 0 0;
  }
  .visual .store a.fran {
    border-radius: 0 0 22px 0;
  }
  .visual .store a.find i {
    font-size: 28px;
    height: 30px;
    left: 50px;
    top: 15px;
  }
  .visual .store a.fran i {
    font-size: 30px;
    right: 150px;
    top: 14px;
  }
  .visual .store a span {
    font-size: 18px;
  }
  .visual .store a.find span {
    padding: 16px 0 0 30px;
  }
  .visual .store a.fran span {
    padding: 16px 0 0 26px;
  }
}
@media screen and (max-width: 860px) {
  .visual {
    margin: 0;
  }
  .visual .banner .btn_wrap {
    left: calc(50% - 39px);
    bottom: 15px;
  }
  .visual .banner .btn_wrap .btn_paging span {
    width: 5px;
    height: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .visual .banner .btn_wrap .btn_paging span.swiper-pagination-bullet-active {
    margin: 0 3px;
    width: 15px;
    height: 5px;
    border-radius: 4px;
  }
  .visual .store {
    display: none;
  }
}


.burger {
  position: relative;
  padding: 84px 0 162px 0;
  background-color: #E60012;
}
.burger h2 {
  float: left;
  position: relative;
  color: #fff;
}
.burger h2 span.new, .burger h2 span.best {
  font-size: 80px;
  font-weight: 700;
}
.burger h2 span.best {
  display: inline-block;
  transform: translate(-65%,85%);
}
.burger h2 span.and {
  display: inline-block;
  font-size: 70px;
  font-weight: 400;
  transform: translate(-30%,33%);
}
.burger .food {
  position: relative;
  margin-left: 43%;
}
.burger .food ul li {
  overflow: hidden;
  float: left;
  background-color: #fff;
  margin: 0 80px 46px 0;
  width: calc(50% - 40px);
  border-radius: 40px 0 40px 0;
}
.burger .food ul li:nth-child(3), .burger .food ul li:nth-child(4) {
  margin-bottom: 0;
}
.burger .food ul li:nth-child(2), .burger .food ul li:nth-child(4) {
  margin-right: 0;
  transform: translateY(102px);
}
.burger .food ul li a {
  display: block;
}
.burger .food h3 {
  margin: 10px 0 11px 20px;
  font-size: 25px;
  font-weight: 700;
}
.burger .food p {
  display: block;
  font-size: 16px;
  margin: 0 0 26px 20px;
}
.burger .food ul li a img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.burger .more {
  position: absolute;
  top: 0;
  right: 20px;
  width: 164px;
  height: 44px;
  background-color: #fff;
  border-radius: 22px;
}
.burger .more a {
  margin: 8px 6px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger .more span {
  margin: 0 4px 0 21px;
  font-size: 18px;
}
.burger .more i {
  font-size: 25px;
}

@media screen and (max-width: 1440px) {
 
  .burger h2 span.new, .burger h2 span.best {
    font-size: 69px;
  }
  .burger h2 span.best {
    top: 103px;
    left: 115px;
  }
  .burger h2 span.and {
    top: 50px;
    left: 150px;
    font-size: 60px;
  }
  .burger .food {
    margin-left: 40%;
  }
  .burger .food ul li {
    margin: 0 70px 46px 0;
    width: calc(50% - 35px);
  }
  .burger .food ul li a {
    display: block;
  }
  .burger .food h3 {
    margin: 10px 0 11px 15px;
    font-size: 22px;
  }
  .burger .food p {
    display: block;
    font-size: 15px;
    margin: 0 0 26px 15px;
  }
  .burger .food ul li a img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  .burger .more {
    width: 164px;
    height: 44px;
  }
  .burger .more a {
    margin: 8px 6px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger .more span {
    margin: 0 4px 0 21px;
    font-size: 18px;
  }
  .burger .more i {
    font-size: 25px;
  }
}
@media screen and (max-width: 1200px) {
  
  .burger h2 span.new, .burger h2 span.best {
    font-size: 60px;
  }
  .burger h2 span.and {
    top: 40px;
    left: 135px;
    font-size: 55px;
  }
  .burger h2 span.best {
    top: 82px;
    left: 100px;
  }
  .burger .food {
    margin-left: 35%;
  }
  .burger .food ul li {
    margin: 0 60px 30px 0;
    width: calc(50% - 30px);
  }
  .burger .food ul li a {
    display: block;
  }
  .burger .food h3 {
    margin: 7px 0 11px 15px;
    font-size: 20px;
  }
  .burger .food p {
    display: block;
    font-size: 14px;
    padding: 0 10px 0 0;
    margin: 0 0 20px 15px;
  }
  .burger .food ul li a img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  .burger .more {
    width: 135px;
    height: 40px;
  }
  .burger .more a {
    margin: 8px 6px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger .more span {
    margin: 0 4px 0 21px;
    font-size: 16px;
  }
  .burger .more i {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  
  .burger h2 {
    width: 35%;
    white-space: nowrap;
  }
  .burger h2 span.new, .burger h2 span.best {
    font-size: 60px;
  }
  .burger h2 span.and {
    top: 40px;
    left: 135px;
    font-size: 55px;
  }
  .burger h2 span.best {
    top: 82px;
    left: 100px;
  }
  .burger .food {
    margin-left: 35%;
  }
  .burger .food ul li {
    margin: 0 50px 30px 0;
    width: calc(50% - 25px);
  }
  .burger .food ul li a {
    display: block;
  }
  .burger .food h3 {
    margin: 7px 0 7px 12px;
    font-size: 18px;
  }
  .burger .food p {
    display: block;
    font-size: 13px;
    padding: 0 10px 0 0;
    margin: 0 0 15px 12px;
  }
  .burger .food ul li a img {
    height: 150px;
  }
  .burger .more {
    width: 130px;
    height: 38px;
  }
  .burger .more a {
    margin: 8px 4px 0 0;
  }
  .burger .more span {
    margin: 1px 4px 0 21px;
    font-size: 15px;
  }
  .burger .more i {
    margin: 2px 0 0 0 ;
    font-size: 20px;
  }
}
@media screen and (max-width: 860px) {
  .burger {
    padding: 19px 0 132px 0;
  }
  .burger h2 {
    float: none;
    width: auto;
    margin: 0 0 70px 0;
  }
  .burger h2 span.new, .burger h2 span.best {
    font-size: 40px;
  }
  .burger h2 span.and {
    top: 33px;
    left: 89px;
    font-size: 30px;
  }
  .burger h2 span.best {
    top: 56px;
    left: 60px;
  }
  .burger .food {
    margin: 0 auto;
    max-width: 520px;
  }
  .burger .food ul li {
    float: left;
    margin: 0 16px 40px 0;
    width: calc(50% - 8px);
    border-radius: 20px 0 20px 0;
  }
  .burger .food ul li:nth-child(1), .burger .food ul li:nth-child(3) {
    transform: translateY(50%);
  }
  .burger .food ul li:nth-child(2), .burger .food ul li:nth-child(4) {
    margin-right: 0;
    transform: translateY(0);
  }
  .burger .food ul li a {
    display: block;
    width: auto;
  }
  .burger .food h3 {
    margin: 7px 0 9px 10px;
    font-size: 13px;
  }
  .burger .food p {
    display: none;
  }
  .burger .food ul li a img {
    height: 150px;
  }
  .burger .more {
    top: 33px;
    width: 27px;
    height: 27px;
  }
  .burger .more::before {
    position: absolute;
    left: 49%;
    top: 28%;
    width: 1px;
    height: 12px;
    background-color: #E60012;
    content: "";
    border-radius: 20px;
  }
  .burger .more::after {
    position: absolute;
    left: 30%;
    top: 48%;
    width: 12px;
    height: 1px;
    background-color: #E60012;
    content: "";
    border-radius: 20px;
  }
  .burger .more a {
    margin: 0;
  }
  .burger .more span {
    display: none;
  }
  .burger .more i {
    display: none;
  }
}