@import url(default.css);
@import url(common.css);

h1 {
    font-size: 4rem;
}
h1 span {
    font-size: 2rem;
}

.event h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin: 2em 0 2em 0;
}
.event ul li {
    /* 넓이가 660px - 1400px에서 660px은 몇 %
       660/1400*100 = 47% */
    float: left;
    /* width: 47%;
    margin: 0 6% 0 0; */
    /* 100- 47 47 = 6
    한 줄에 li가 두 개 여백이 한 개
    100 - (li 하나의 넓이 * 2) = 100 - (47*2) = 6
    한 줄에 들어가는 여백과 li의 넓이가 합이 100% */

    /* 여백을 고정값으로 주는 경우 - %가 아니고 px값을 줌
       li 넓이 계산법 - 100%/li의 갯수 = 50%
       한 줄에 들어가야 하는 여백의 총합/li의 갯수 = 80px/2 = 40px
       li의 넓이: calc(100%/li갯수 - 한 줄 여백 총합/li 갯수) */
    width: calc(50% - 40px);
    margin: 0 80px 0 0;
}
.event ul li:nth-child(2),.event ul li:last-child {
    margin-right: 0;
}
.event ul li a img {
    width: 100%;
}
@media screen and (max-width:640px){
    .event h2 {
        font-size: 25px;
    }
}

.product {
    padding: 4.867rem 0 8.333rem 0;
    background-color: #fbe0d7;
}
.product h2 {
    display: none;
}
.product ul li {
    /* 여백이 고정일 경우 계산법
    100% / 한줄에 들어가는 li갯수 = 100/4 = 25%
    한줄에 들어가야할 모든 여백 / 한줄에 들어가는 li의 갯수 = 120px / 4 = 30px
    width: calc(25% - 30px) */
    float: left;
    width: calc(25% - 30px);
    margin: 0 40px 0 0;
    border-width: 2px;
    border-style: solid;
    border-color: #1d1d1d;
    border-radius: 30px 0 30px 30px;
    background-color: #fff;
    background-position: right 14% bottom 6%;
    background-repeat: no-repeat;
    /* background-size: 53% auto; 가로는 background를 주는 영역의 넓이의 몇 % 높이는 auto를 넓이 맞춰서 비율에 맞게 조정 */
    background-size: 176px auto; /* 배경 이미지 사이즈를 고정 px로 입력 */
}
.product ul li:last-child {
    margin-right: 0;
}
.product ul li.pro1 {
    background-image: url(../images/main/product1.png);
}
.product ul li.pro2 {
    background-image: url(../images/main/product2.png);
}
.product ul li.pro3 {
    background-image: url(../images/main/product3.png);
}
.product ul li.pro4 {
    background-image: url(../images/main/product4.png);
}
.product ul li a {
    display: block;
    padding: 3.067rem 1.600rem 4.533rem 2.667rem;
}
.product ul li a h3 {
    margin: 0 0 1.400rem 0;
    font-size: 2.667rem;
    line-height: 1.3;
    overflow: hidden;
    white-space: nowrap; /* 줄 바꿈 금지 */
    text-overflow: ellipsis; /* 잘리는 글자는 끝에 ... */
}
.product ul li a h3 span {
    display: block;
    font-size: 1rem;
    font-weight: 400;
}
.product ul li a p {
    margin: 0 0 4.933rem 0;
    overflow: hidden;
    line-height: 1.5;
    height: 6em;
}
.product ul li a img {
    /* width: 20%; a사이즈를 기준으로 20% 사이즈 */

}
@media screen and (max-width:1440px){
    .product ul li {
        background-size: 153px auto;
    }
    .product ul li a h3 {
        font-size: 2.2rem;
    }
    .product ul li a img {
        transform: scale(0.8,0.8); /* 원래 이미지 크기에 비례해서 80% 크기로 변환 */
    }
    .product ul li a p {
        margin: 0 0 3rem 0;
    }
}
@media screen and (max-width:1050px){
    .product ul li {
        background-size: 140px auto;
    }
    .product ul li {
        width: calc(33.33% - 27px);
        margin: 0 40px 0 0;
    }
    .product ul li:last-child {
        display: none;
    }
    .product ul li:nth-child(3) {
        margin-right: 0;
    }
    .product ul li a h3 {
        font-size: 2rem;
    }
    .product ul li a p {
        margin: 0 0 2.7rem 0;
    }
}
@media screen and (max-width:787px){
    .product ul li {
        width: calc(50% - 15px);
        margin: 0 30px 0 0;
    }
    .product ul li:nth-child(2) {
        margin-right: 0;
    }
    .product ul li:nth-child(3) {
        display: none;
    }
    .product ul li a h3 {
        font-size: 1.6rem;
    }
}
@media screen and (max-width:484px){
    .product ul li {
        float: none;
        width: 100%;
        margin: 0;
    }
    .product ul li:nth-child(2) {
        display: none;
    }
    .product ul li a h3 {
        font-size: 1.333rem;
    }
    .product ul li a p {
        margin: 0 0 1.5rem 0;
    }
}